<% if resource.errors.any? %>
<div class="mb-4 bg-red-100 text-red-900 rounded-md border border-red-200 flex flex-col" role="alert">
  <div class="py-1 px-5 border-b border-red-200 text-sm font-bold shadow-lg">
    Error:
  </div>
  <div class="py-1 px-5 text-sm">
    <%= resource.errors.full_messages.split.join(", ") %>
  </div>
</div>
<% end %>
