<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Your Account has benn Approved!!</p>
    <p>
    You can now begin trading.
    </p>
  </body>
</html>