<div class ="main_container_home_page">
<section id="hero" class="hero d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1>Your Accounting Software in your pocket!</h1>
        <h2>Stop recording your financials manually, digitized with PHinance now!</h2>
        <div>
          <div class="text-center text-lg-start">
            <a class="btn-cta scrollto d-inline-flex align-items-center justify-content-center align-self-center">
              <span>GET STARTED</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 hero-img">
          <%= image_tag("bg1.png", :alt => "PHinance.io header image", :class => "home_page_image") %>
      </div>
    </div>
  </div>
</section>
</div>