<section class="container-static">
  <div class="img-landing-page">
    <%= render_svg('landing_page.svg') %>
  </div>
  <div class="heading">
    <h1 class="header-landing">The best trading platform for you</h1>
    <p class="subheader-landing">Emporia wallet enables first-time traders to train using real world currency</p>
    <%= link_to 'Create Account now', new_user_registration_path, class: 'landing-action' %>
  </div>
</section>