<div class = "home_page_container">
  <div class = "home_page_greet">
    <h1>Say something convincing here!</h1>
    <h5>shimmynee shimmyyy cheneee</h5>
    <button type="button" class="btn btn-dark" id = "homepage_button"><%= link_to 'TRY ME', new_user_registration_path %></button>
  </div>
  
  <div class="g-col-6">
    <%= image_tag("bg1.png", :alt => "PHinance.io header image", :class => "home_page_image") %>
  </div>
</div>
