<div class="message <%= 'me' if message.user == current_user%>">
  <div class="content-container">
    <div class="content >">
      <%=message.body%>
    </div>
    <div class="author">
      <%=message.user.username%>
    </div>
                
  </div>
</div>