<div class="message mb-3 me">
    <div class="content-container">
        <div class="content"><%= message.content %></div>
        <!--might remove author, when avatar is available-->
        <div class="author"><%= message.user.username %></div>
    </div>
</div>
