<div  class="py.5 px-5 mb-4 bg-green-100 text-green-900 text-sm rounded-md border border-green-200" role="alert">
    <p class="notice text-center"><%= notice %></p>
</div>
This is trader page <br />
<%= link_to 'Sign-out', destroy_trader_session_path, method: 'delete' %>

