
<section class="table">
  <table class="content-table">
    <Caption>Portfolio</Caption>

    <thead>
      <tr>
        <th>Symbol</th>
        <th>Company Name</th>
        <th>Quantity</th>
        <th>View</th>
      </tr>
    </thead>
    <tbody>
      <% @buyer_stocks.each do |stock| %>
        <tr>
          <td><%= stock.symbol%></td>
          <td><%= stock.company_name%></td>
          <td><%= stock.quantity%></td>
          <td><%= link_to 'Show', buyer_stock_path(stock)%></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</section>
