<%# Main SASS %>
<%= stylesheet_link_tag '/pages/registration/main.scss'%>



<div class='container'>
  <main class='row'> 
    <%# Left Container %>
    <div class='left-container column'>
      <div class='left-header'>
        <a class='nav-logo'>Investonks<span class='dot'></span></a>
      </div>
      <%= image_tag('', :class => 'register-img') %>
    </div>
    <%# Right Container %>
    <div class='right-container column'>
      <header>
      Already a member? 
      <%= link_to 'Sign In', new_user_session_path, :class => 'link'%>
      </header>
      <h1>Sign up</h1>  
      <%= render 'form'%>
    </div>
  </main>
</div>
