<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>YOUR ACCOUNT HAS BEEN APPROVED!</p>
    
    <p>Username: <%= @user.username %></p>
    <p>Email: <%= @user.email %></p>
    <p>
    <br>
    Thank you for signing up!
    </p>
  </body>
</html>
