<h1>Welcome to the Stock Trading App, <%= @user.email %></h1>
<p>You have successfully approved your signup. Thankyou for joining Stock Trading App <%=@user.username%></p>
<p>You can now signin your credentials. Enjoy and have a great day :) </p>