<h3>Account Information</h3>
  <div class="container-data">
    <h3>Username: </h3>
    <h5><%= @trader.username %></h5>
  </div>
  <div class="container-data">
    <h3>Email: </h3>
    <h5><%= @trader.email %></h5>
  </div>
  <div class="container-data">
    <h3>Account Created: </h3>
    <h5><%= @trader.created_at %></h5>
  </div>
  <div class="container-data">
    <h3>Last Updated: </h3>
    <h5><%= @trader.updated_at %></h5>
  </div>

  <h3>Wallet</h3>
      <h3>Wallet ID: </h3>
      <h5>212</h5>
    </div>
    <div>
      <h3>Balance: </h3>
      <h5>P 2,000</h5>
    </div>

  <h3>Transaction Data</h3>
    <div>
      <h3>Total number of transactions: </h3>
      <h5>3</h5>
    </div>
    <div>
      <h3>Stocks in Portfolio: </h3>
      <h5>23</h5>
    </div>