<h1>All Buyers</h1>
<% @buyers.each do |buyer|%>
    <div><%= buyer.email%></div>
<%end%>

<h1>All Brokers</h1>
<% @brokers.each do |broker|%>
    <div><%= link_to broker.email, admin_broker_path(current_admin, broker)%><%= link_to 'Edit', edit_admin_broker_path(current_admin, broker)%></div>
<%end%>

