<h1>
    This is admin page!
</h1>

<h1>
    List of all Traders
</h1>

<% if @traders.empty? %>
    <p>No Approved Traders Yet</p>

<% else %>
    <% @traders.each do |trader| %>
        <%=trader.username%>
        <%=trader.email%>
         <%= link_to 'View', admin_show_trader_path(id:trader.id)%>
    <% end %>
<% end %>
