<table>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %>
        <td><%= user.approved %>
        <td><%= link_to "Edit", edit_user_path(user) %>
      </tr>
    <% end %>
</table>