<h3>All Traders</h3>

<%= link_to 'See Pending Approval Traders', admins_approvals_path %>

<br/><br/>

<% if @users.empty? %>
    
    No Approved Traders Yet

    <% else %>

    <% @users.each do |user| %>
        ID: <%= user.id %><br/>
        Email: <%= user.email %>
        <%= link_to 'View', trader_profile_path(user.id) %>    <br/><br/>
    <% end %>

<% end %>

