<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello,<%= @email %>!</p>
    <p>Welcome to Tradify</p>
    <p>PLease wait for the admin to approve your account.<br>
    <p>Visit <%= @url %> to access you account.</p>
  </body>
</html>
