<section class="stocks">
  <!--<div class="container-fluid">-->
  <div class="container">
  
    <div class="row row-cols-1 row-cols-d-2">
      <div class="col-md-3 bg-orange stock-options d-flex flex-column align-items-center justify-content-between">
        
        <p>OPTIONS</p>
        
        <div>
          <p>Stocks</p>
          <p>Portfolio</p>
          <p>Transactions</p>
        </div>

        <p>Sign Out</p>
      
      </div>

      <div class="col-md-9 stock-table">
        <table class="table table-hover table-sm table-responsive-sm">
          <thead>
            <tr>
              <th scope="col">Ticker</th>
              <th scope="col">Company Name</th>
              <th scope="col" class="text-center">Latest Price</th>
              <th scope="col" class="text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% stocks_list.each do |stock| %>
              <tr>
                <td><%= stock.ticker %></td>
                <td><%= stock.stock %></td>
                <td class="text-center">
                  <%#= stock.price %>
                  <%= 
                    number_with_precision(
                      stock.price, :precision => 2, :delimiter => ','
                    )
                  %>
                </td>
                
                <% if current_user.stocks.find_by(id: stock.id) %>
                  <td class="text-center">
                    <span class="text-info">Stock Added in Portfolio</span>
                  </td>
                <% else %>
                  <td class="text-center">
                    <%= 
                      link_to "Add Stock", 
                      stock_add_path(stock), 
                      method: :post, 
                      class: "btn btn-info btn-sm" 
                    %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>


        
      </div>
    </div>
  </div>
</section>
