<%# if broker has signed in show broker_stocks %>
<%# if buyer has signed in show available_stocks %>

<table>
  <thead>
    <th>Symbol</th>
    <th>Company Name</th>
  </thead>
  <tbody>
  <% if broker_signed_in? %>
    <% @broker_stocks.each do |stock| %>
      <tr>
        <td><%= stock.symbol%></td>
        <td><%= stock.company_name%></td>
      </tr>
    <%end%>

  <% elsif buyer_signed_in? %>
    <% @available_stocks.each do |stock| %>
      <tr>
        <td><%= stock.symbol%></td>
        <td><%= stock.company_name%></td>
      </tr>
    <%end%>
  <%end%>
  </tbody>
</table>

