
<section class="table">
  <table class="content-table">
    <Caption>Stocks</Caption>
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Company Name</th>
        <th>Add Stock to Porfolio</th>
      </tr>
    </thead>
    <tbody>
      <% @stocks.each do |stock|%>
        <tr>
          <td><%= stock.symbol%></td>
          <td><%= stock.company_name%></td>
          <%unless current_broker.broker_stocks.any?{|broker_stock| broker_stock.symbol == stock.symbol}%>
              <td><%= button_to "Add", broker_stocks_path(current_broker), params: { broker_stock: { symbol: stock.symbol, company_name: stock.company_name }}, method: :post, local: true, class:"button" %></td>
          <%else%>
              <td>Added to Portfolio</td>
          <%end%>
        </tr>
      <%end%>
    </tbody>
  </table>
</section>

