<% if user_signed_in? %>
  <div class="user-dashboard">
    <div class="left-content">
      <%= render 'home/sidebar' %>
    </div>

    <div class="right-content">
      <%= render 'conversations' %>
    </div>  
  </div>
<% else %>
  <% redirect_to new_user_session_path %>
<% end %>


