<div class='admin-container'>
    <div class='admin-body'>
        <div class='top'>
        </div>
        <div class='header'>
            <br/>
            <h1 class='headtag'> Welcome, Admin.</h1>
            <br/>
            <%=image_tag('admin.svg',:class=>'image')%>
        </div>
    </div>
</div>