<% if resource.errors.any? %>
  <div id="error_explanation" class="p-5 rounded-md mx-auto text-center bg-red-200 w-1/4 mt-10">
    <h2 class="font-semibold">
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </h2>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li>&#8226; <%= message %> !</li>
      <% end %>
    </ul>
  </div>
<% end %>
