<% if resource.errors.any? %>
        <section class="notification is-danger has-text-centered mt-3  mb-3">
      <div class="is-size-6 has-text-weight-bold has-text-centered">
          <ul>
              <% resource.errors.each do |field, error| %>
                  <li><b><%= field.upcase %></b> <%= error %>!</li>
              <% end %>
          </ul>
      </div>
      </section>
<% end %>