$breakpoints: (
  'small': (min-width: 576px),
  'medium': (max-width: 768px),
  'large': (min-width: 992px),
  'xl': (min-width: 1200px)
) !default;

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }

  @else {
    @warn 'Unfortunately, no value could be retrieved from `#{$breakpoint}`. '
    + 'Available breakpoints are: #{map-keys($breakpoints)}.';
  }
}



