
    <div id="home">
        <%= link_to 'Home', root_path %>
    </div> 

    <div id="find_stock">
        <%= link_to 'Buy Stock', stocks_path %>
      <%= link_to 'Portfolio', portfolios_path %>    
      <%= link_to 'Transactions', transactions_path %>  
    </div>  



