<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for choosing Peddler, <%= @user.firstname %>!</h1>
    <p>Our Admin has confirmed your account, you can now log in and handle your stocks trading with us !</p>
    
  </body>
</html>