<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for choosing Peddler, <%= @user.firstname %>!</h1>
    <p>You have successfully signed up ! Your Account is in the process of confirmation by our Admin.</p>
    
  </body>
</html>