// Horizontal List 
@mixin horizontal-list {
  li {
    display: inline-block;
    margin: {
      left: -2px;
      right: 2em;
    }
  }
}

// Center Content
@mixin flexCenter() {
  height: 20vh;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

<<<<<<< HEAD
//button hover
@mixin button-bg($lightGreen) {
  background: $lightGreen;
=======
//Button Background
@mixin button-bg($lightGreen) {
  background: linear-gradient(to right, $darkGreen, $lightGreen);
>>>>>>> 9dd218210259a1f53d6f3f82b7aef771b3a946e9

  &:hover {
    background: darken($lightGreen, 10%);
    transition: all 0.3s ease;
  }

  &:active {
    background: darken($lightGreen, 25%);
  }
<<<<<<< HEAD
}
=======
}
>>>>>>> 9dd218210259a1f53d6f3f82b7aef771b3a946e9
