<div class="row">
<div class="col-9">
  <table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">Ticker</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">action</th>
    </tr>
  </thead>
  <tbody>
  <%@tracked_stocks.each do |stock|%>
    <%= render 'stocks/stock', stock:stock%>
  <%end%>
    
  </tbody>
</table>
</div>
</div>
<div class="flickr_pagination">
    <div class="page_info">
      <%= page_entries_info @tracked_stocks %>
    </div>
    <%= will_paginate @tracked_stocks, :container => false %>
  </div>
