<div class="container">
  <div class="border-bottom">
    <h1 class="text-center pt-5">My Portfolio</h1>
  </div>
  <div id ="stock-searched" class="d-flex justify-content-center row">
    <% if @stocks %>
      <%= render partial: "stocks/stock_list" %>
    <% else %>
      <p class="text-muted text-center pt-5">Nothing to show. Go to Market and search for stocks.</p>
    <% end %>
  </div>
</div>