%h1 Stock Market List
%table{:class => "table text-gray-400 border-separate space-y-6 text-sm"}
  %thead{:class => "bg-gray-800 text-gray-500"}
    %tr
      %th{:class => "p-3 center"} Stock Name
      %th{:class => "p-3 center"} Buy
      %th{:class => "p-3 center"} Sell
  %tbody
    - @stocks.each do |stock|
      %tr{:class => "bg-gray-800"}
        %td{:class => "p-3"}= stock.stock_symbol
        %td{:class => "p-3"}= buy_price(stock.current_price)
        %td{:class => "p-3"}= sell_price(stock.current_price)