<% @stock.each do |t| %>
  <h4 class=""><%= t.ticker %></h4>
  <h4 class=""><%= t.company %></h4>
  <h4 class=""><%= t.change_percent %></h4>
  <h4 class=""><%= t.price %></h4>
  <h4 class="">Buy</h4>
<% end %>