-if current_user.admin?
  =link_to "Users index", users_path
-if current_user.admin?
  =link_to "Edit user", edit_user_path(@user.id)
Email
%br/
=@user.email
%br/

MONEY
%br/
=@user.wallet.money
%br/

WALLET ADDRESS
%br/
=@user.wallet.wallet_address

PUT ALL BOUGHT COINS HERE
-if !@portfolio
  No coins bought yet.
  =link_to "Start now!", trade_path("BTC")
-else
  -@portfolio.each do |p|
    =p.symbol
    =p.amount