<section class="homepage">
  <div class="user-dashboard">
    <div class="left-content">
      <%= render 'home/sidebar' %>
    </div>
    <div class="right-content">
      <%= render 'history-list' %>
    </div>
  </div>
</section>
