<% if current_user %>
	<h2> I'm a Trader </h2>
	<%= link_to "sign out", destroy_user_session_path, method: :delete %>
<% else %>
	<h2> I'm a Trader </h2>
	<%= link_to "Register", new_user_registration_path %>
	<%= link_to "sign in", new_user_session_path %>
<% end %>