

- if user_signed_in?
  %h1 This is the user's balance: 
  = @balance
  %table{:class => ""}
    %thead
      %tr
        %th{:class => "p-3 center"} Stock Name
        %th{:class => "p-3 center"} Units
        %th{:class => "p-3 center"} Total Revenue
        %th{:class => "p-3 center"} Action
    %tbody
      - @portfolio.each do |sp|
        %tr{:class => ""}
          %td{:class => "p-3"}= sp.stock_symbol
          %td{:class => "p-3"}= sp.units.round(4)
          %td{:class => "p-3"}
            PHP
          %td{:class => "p-3"}
            = link_to "View", new_user_stock_holding_path(user_id:current_user, stock_id:sp.stock_id)



- else
  %h1 You are signed out


