<section class="container-static">
  <section class="card-container">
    <div class="card-header-name">
      <h1>Account Information</h1>
    </div>
    <div class="card-container-stats">
      <div>
        <h3>Php 130, 123.00</h3>
        <h3>Balance</h3>
      </div>
      <div>
        <h3>Php 5, 123.00</h3>
        <h3>P/L</h3>
      </div>
      <div>
        <h3>Php 135, 123.00</h3>
        <h3>Value</h3>
      </div>
    </div>
    
    <div class="card-container-table">
      <%# data headers %>
      <div class="card-item headers">
        <h5 class="default">Market</h5>
        <h5 class="default">Units</h5>
        <h5>Invested</h5>
        <h5>P/L (%)</h5>
        <h5>P/L (Php)</h5>
        <h5>Value</h5>
        <h5 class="default">Action</h5>
      </div>

      <%# loop all data here %>
      <% 30.times do %>
      <div class="card-item">
        <h5 class="default">APPL</h5>
        <h5 class="default">0.000123</h5>
        <h5>P 5,000.00</h5>
        <h5>5%</h5>
        <h5>P 250.00</h5>
        <h5>P 5250.00</h5>
        <%= link_to "View", root_path, class: "link-card-action default" %>
      </div>
      <% end %>
    </div>
  </section>
</section>
