<h2>User Details</h2>

<table>
    <tbody>
      <tr>
        <td><strong>Name: </strong> <%= @user.first_name %><%= @user.last_name %></td>
        <td><strong>Email: </strong> <%= @user.email %></td>
      </tr>
    </tbody>
  </table>
  