%div{ class: 'w-full h-screen flex flex-col items-center justify-center' }
  %div{ class: 'w-96' }
    %div{ class: 'w-full text-center' }
      %h1{ class: 'text-gray-800 text-2xl font-bold pb-3' } Create Binance Account
      %p{ class: 'text-gray-600 text-base pb-4' } Register with your email
    = render 'form'