<h1>Pending Users</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Registration Date</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
      <%=render @users%>
  </tbody>
</table>

<div class="flickr_pagination">
    <div class="page_info">
      <%= page_entries_info @users %>
    </div>
    <%= will_paginate @users, :container => false %>
  </div>

  