
<div class="bg-indigo-400 p-10 rounded-lg shadow-lg max-w-lg mx-auto text-white text-center mt-32">


<h1 class="text-center font-black text-6xl">Tailwind Worked !</h1>
<p class="text-lg leading=tight mt-2 font-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quisquam odio et explicabo consequuntur veritatis repudiandae, aperiam dolorum adipisci fugit, fugiat impedit ea tempora voluptatibus? Officiis ad hic ut animi!</p>


</div>
