//colors
$color-primary: #333652;
$color-primary-light: #90ADC6;
$color-secondary: #FAD02C;
$color-neutral-white: #E9EAEC;
$color-black: #383838;
$color-body-background: #F9FBFD;
$color-green: #4AD97B;
$color-red: #D94A4A;

//border-colors
$form-input-border-color: #DEDEDE;

//font size
$font-size-navlinks: 1.3rem;
$font-size-navlinks-mobile: 1.4rem;
$font-size-header-landing: 5rem;
$font-size-subheader-landing: 2rem;
$font-size-shared-links: 1rem;
$font-size-admin-header-landing: 3.5rem;
$font-size-header: 4rem;
$font-size-subheader: 2.5rem;
$font-size-header-mobile: 3rem;
$font-size-subheader-mobile: 2rem;
