//colors
$color-primary: #333652;
$color-primary-light: #90ADC6;
$color-secondary: #FAD02C;
$color-neutral-white: #E9EAEC;
$color-black: #383838;
$color-body-background: #F9FBFD;


//border-colors
$form-input-border-color: #DEDEDE;

//font size
$font-size-navlinks: 1.3rem;
$font-size-navlinks-mobile: 1.4rem;
$font-size-header-landing: 5rem;
$font-size-subheader-landing: 2rem;
$font-size-shared-links: 1rem;
