<div class="card dashboard_balance">
  <div class="card-header bg-transparent balance_header">
        <span>Balance Details</span>
    <div class="button_holder">
        <button class="btn btn-primary balance_btn"> Deposit </button>
        <button class="btn btn-primary last_btn"> Withdraw </button>
    </div>
  </div>
  <div class="card-body balance_body">
    <div>
        <label class="card-text balance_label">Account Balance</label>
        <h5 class="card-title">$500,000</h5>

        <label class="card-text balance_label">Total Deposits</label>
        <h5 class="card-title">$800,000</h5>

        <label class="card-text balance_label">Total Withdrawals</label>
        <h5 class="card-title">$200,000</h5>

        <label class="card-text balance_label">Unrealized Gains/Losses</label>
        <h5 class="card-title">$(100,000)</h5>
    </div>
    <div>
        Insert pie chart here @via chartsjs
    </div>
  </div>
</div>
