<div class="buy_order_grid card">
    <h5 class="order_headings">BID ORDERS</h5>
    <table class="table table-borderless">
    <thead>
        <tr>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td scope="col">1000</td>
        <td scope="col">100</td>
        </tr>
        <tr>
        <td scope="col">1000</td>
        <td scope="col">100</td>
        </tr>
        <tr>
        <td scope="col">1000</td>
        <td scope="col">100</td>
        </tr>
    </tbody>
    </table>
</div>