<div class="card_title">
  <h1>Builds</h1>
</div>

<div class="card_section">
  
  <div class="card_slot card_slot1 shadow-lg">
    <div class="level1">
      <img class="img1" src="https://cdna.pcpartpicker.com/static/forever/images/product/a71b87c93a953bcd78a4d1f1fca14760.256p.jpg">
    </div>
    <div class="level2">
      <img class="img2" src="https://m.media-amazon.com/images/I/419h1NMeqvL.jpg">
      <img class="img3" src="https://m.media-amazon.com/images/I/51ZmqirNGmL.jpg">
    </div>
    <div class="card_text">
      <h3>Budget Build</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus a dui condimentum, semper orci sit amet, eleifend tortor.</p>
    </div>
  </div>

  <div class="card_slot card_slot2 shadow-lg">
    <div class="level1">
      <img class="img1" src="https://cdna.pcpartpicker.com/static/forever/images/product/0319201055850978198d9c271b385729.256p.jpg">
    </div>
    <div class="level2">
      <img class="img2" src="https://cdna.pcpartpicker.com/static/forever/images/product/41358d31a00cc8fb673bfa7716ea9498.256p.jpg">
      <img class="img3" src="https://cdna.pcpartpicker.com/static/forever/images/product/ab684e6fe63729f937ff112dac6be257.256p.jpg">
    </div>
    <div class="card_text">
      <h3>Intel Gaming</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus a dui condimentum, semper orci sit amet, eleifend tortor.</p>
    </div>
  </div>

  <div class="card_slot card_slot3 shadow-lg">
    <div class="level1">
      <img class="img1" src="https://cdna.pcpartpicker.com/static/forever/images/product/1f0d01b57cc9d3c2e050041beb99f787.256p.jpg">
    </div>
    <div class="level2">
      <img class="img2" src="https://cdna.pcpartpicker.com/static/forever/images/product/1d7073a2deda3bd22963a7e248bbe3e4.256p.jpg">
      <img class="img3" src="https://m.media-amazon.com/images/I/31NjukuMg2S.jpg">
    </div>
    <div class="card_text">
      <h3>AMD Gaming</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus a dui condimentum, semper orci sit amet, eleifend tortor.</p>
    </div>
  </div>
</div>
