<% if obj.errors.any? %>
<div class="container container-transparent">
  <div class="alert alert-danger alert-dismissible fade show " role="alert">
    <h4 class="alert-heading mb-4"><i class="fas fa-exclamation-triangle mr-3"></i>   The folowing errors prevent the <%=obj.class.name.downcase%> from being saved</h4>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <hr>
    <ul>
    <% obj.errors.full_messages.each do |msg| %>
        <li><%=msg%></li>  
  
    <%end%>
    </ul>
    </div>
  </div>
  <%end%>