<% flash.each do |type, msg| %>
  <div class="d-flex justify-content-end flash-alert_container">
    <div class="alert alert-<%= type %> alert-dismissible flash-alert col-md-2" role="alert" >
      <%= msg %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
<% end %>