<footer class="bg-dark d-flex flex-row justify-content-evenly align-items-start pt-5 pb-5" >
  
  <div class="slogan_section">
    <div>
      <%= image_tag('jade_logo.png', class:'logo')%>
    </div>
    <div class="slogan">
      <h4>SEARCH. BUILD. ENJOY.</h4>
    </div>
  </div>

  <div class="info_section">
    <div class="info">
      <h5>CATEGORIES</h5>
      <ul class="info_items">
        <li><a class="text-white" href="#">Build a PC</a></li>
        <li><a class="text-white" href="#">Build Guide</a></li>
        <li><a class="text-white" href="#">Completed Builds</a></li>
        <li><a class="text-white" href="#">Browse Products</a></li>
      </ul>
    </div>

    <div class="info">
      <h5>INFORMARION</h5>
      <ul class="info_items">
        <li><a class="text-white" href="#">Documentation</a></li>
        <li><a class="text-white" href="#">Forums</a></li>
        <li><a class="text-white" href="#">Price Changes</a></li>
        <li><a class="text-white" href="#">Updates</a></li>
      </ul>
    </div>

    <div class="info">
      <h5>COMPANY</h5>
      <ul class="info_items">
        <li><a class="text-white" href="#">About Us</a></li>
        <li><a class="text-white" href="#">Mission</a></li>
        <li><a class="text-white" href="#">Vision</a></li>
        <li><a class="text-white" href="#">Privacy Policy</a></li>
      </ul>
    </div>

  </div>
</footer>
