<footer class="footer2_section" >
  
  <div class="slogan_section">
    <div>
      <%= image_tag('jade_logo.png', class:'logo')%>
    </div>
    <div class="slogan">
      <h2>SEARCH. BUILD. ENJOY.</h2>
    </div>
  </div>

  <div class="info_section">
    <div class="info">
      <h3>CATEGORIES</h3>
      <ul class="info_items">
        <li><a class="info_text" href="#">Build a PC</a></li>
        <li><a class="info_text" href="#">Build Guide</a></li>
        <li><a class="info_text" href="#">Builds Gallery</a></li>
        <li><a class="info_text" href="#">Browse Products</a></li>
      </ul>
    </div>

    <div class="info">
      <h3>INFORMARION</h3>
      <ul class="info_items">
        <li><a class="info_text" href="#">Documentation</a></li>
        <li><a class="info_text" href="#">Articles</a></li>
        <li><a class="info_text" href="#">News Updates</a></li>
      </ul>
    </div>

    <div class="info">
      <h3>TEAM</h3>
      <ul class="info_items">
        <li><a class="info_text" href="#">About Us</a></li>
        <li><a class="info_text" href="#">Mission</a></li>
        <li><a class="info_text" href="#">Vision</a></li>
        <li><a class="info_text" href="#">Privacy Policy</a></li>
      </ul>
    </div>

  </div>
</footer>
