<footer class="bg-dark d-flex flex-row justify-content-evenly align-items-center pt-5 pb-5" >
  
  <div class="text-white d-flex flex-column align-items-center">
  <%= image_tag("jaren.jpg", class:"img-thumbnail") %>
    <h5 class="card-header">Jaren Cudilla</h5>
    <h6 class="card-title">jarencudilla@gmail.com</h6>
    <div class="d-flex flex-row justify-content-evenly">
      <ul class="social mb-0 list-inline mt-3">
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/jarencharlescudilla/" target="_blank"><i class="fab fa-linkedin fa-lg text-white"></i></a></li>
        <li class="list-inline-item"><a href="https://github.com/jarencudilla" target="_blank"><i class="fab fa-github-square fa-lg text-white"></i></a></li>
      </ul>
    </div>
  </div>

  <div class="text-white d-flex flex-column align-items-center">
  <%= image_tag("adrian.jpg", class:"img-thumbnail") %>
    <h5 class="card-header">Adrian Ilaga</h5>
    <h6 class="card-title">adrianilaga771@gmail.com</h6>
    <div class="d-flex flex-row justify-content-evenly">
      <ul class="social mb-0 list-inline mt-3">
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/adrian-ilaga/" target="_blank"><i class="fab fa-linkedin fa-lg text-white"></i></a></li>
        <li class="list-inline-item"><a href="https://github.com/AdrianIlaga" target="_blank"><i class="fab fa-github-square fa-lg text-white"></i></a></li>
      </ul>
    </div>
  </div>

  <div class="text-white d-flex flex-column align-items-center">
  <%= image_tag("daniel.jpg", class:"img-thumbnail") %>
    <h5 class="card-header">Daniel Cadiz</h5>
    <h6 class="card-title">stephencadiz014@gmail.com</h6>
    <div class="d-flex flex-row justify-content-around">
      <ul class="social mb-0 list-inline mt-3">
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/daniel-cadiz-b33978167/" target="_blank"><i class="fab fa-linkedin fa-lg text-white"></i></a></li>
        <li class="list-inline-item"><a href="https://github.com/DanielCadiz" target="_blank"><i class="fab fa-github-square fa-lg text-white"></i></a></li>
      </ul>
    </div>
  </div>

  <div class="text-white d-flex flex-column align-items-center">
  <%= image_tag("eliezer.jpg", class:"img-thumbnail") %>
    <h5 class="card-header">Eliezer Ambion</h5>
    <h6 class="card-title">eliezerambion@gmail.com</h6>
    <div class="d-flex flex-row justify-content-around">
    <ul class="social mb-0 list-inline mt-3">
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/eliezer-ambion/" target="_blank"><i class="fab fa-linkedin fa-lg text-white"></i></a></li>
        <li class="list-inline-item"><a href="https://github.com/EliezerAmbion" target="_blank"><i class="fab fa-github-square fa-lg text-white"></i></a></li>
    </ul>
    </div>
  </div>

</footer>
