<script src="https://kit.fontawesome.com/c1ec78f5cd.js" crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom d-flex flex-row justify-content-evenly align-items-center" style="height: 15rem">
  
  <div class="text-white d-flex flex-column align-items-center" style="max-width: 18rem;">
  <%= image_tag("jaren.jpg", class:"img-thumbnail", style:"max-width: 5rem; max-height: 5rem; border-radius: 50%;") %>
    <div class="card-header">Jaren Cudilla</div>
    <h6 class="card-title">jarencudilla@gmail.com</h6>
    <div class="d-flex flex-row justify-content-evenly">
      <ul class="social mb-0 list-inline mt-3">
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/jarencharlescudilla/" target="_blank"><i class="fab fa-linkedin fa-lg text-white btn btn-dark"></i></a></li>
        <li class="list-inline-item"><a href="https://github.com/jarencudilla" target="_blank"><i class="fab fa-github-square fa-lg text-white btn btn-dark"></i></a></li>
      </ul>
    </div>
  </div>

  <div class="text-white d-flex flex-column align-items-center" style="max-width: 18rem;">
  <%= image_tag("adrian.jpg", class:"img-thumbnail", style:"max-width: 5rem; max-height: 5rem; border-radius: 50%;") %>
    <div class="card-header">Adrian Ilaga</div>
    <h6 class="card-title">adrianilaga771@gmail.com</h6>
    <div class="d-flex flex-row justify-content-evenly">
      <ul class="social mb-0 list-inline mt-3">
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/adrian-ilaga/" target="_blank"><i class="fab fa-linkedin fa-lg text-white btn btn-dark"></i></a></li>
        <li class="list-inline-item"><a href="https://github.com/AdrianIlaga" target="_blank"><i class="fab fa-github-square fa-lg text-white btn btn-dark"></i></a></li>
      </ul>
    </div>
  </div>

  <div class="text-white d-flex flex-column align-items-center" style="max-width: 18rem;">
  <%= image_tag("daniel.jpg", class:"img-thumbnail", style:"max-width: 5rem; max-height: 5rem; border-radius: 50%;") %>
    <div class="card-header">Daniel Cadiz</div>
    <h6 class="card-title">stephencadiz014@gmail.com</h6>
    <div class="d-flex flex-row justify-content-evenly">
      <ul class="social mb-0 list-inline mt-3">
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/daniel-cadiz-b33978167/" target="_blank"><i class="fab fa-linkedin fa-lg text-white btn btn-dark"></i></a></li>
        <li class="list-inline-item"><a href="https://github.com/DanielCadiz" target="_blank"><i class="fab fa-github-square fa-lg text-white btn btn-dark"></i></a></li>
      </ul>
    </div>
  </div>

  <div class="text-white d-flex flex-column align-items-center" style="max-width: 18rem;">
  <%= image_tag("eliezer.jpg", class:"img-thumbnail", style:"max-width: 5rem; max-height: 5rem; border-radius: 50%;") %>
    <div class="card-header">Eliezer Ambion</div>
    <h6 class="card-title">eliezerambion@gmail.com</h6>
    <div class="d-flex flex-row justify-content-evenly">
      <ul class="social mb-0 list-inline mt-3">
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/eliezer-ambion/" target="_blank"><i class="fab fa-linkedin fa-lg text-white btn btn-dark"></i></a></li>
        <li class="list-inline-item"><a href="https://github.com/EliezerAmbion" target="_blank"><i class="fab fa-github-square fa-lg text-white btn btn-dark"></i></a></li>
      </ul>
    </div>
  </div>

</nav>
