<footer class="footer_section">
  
  <div class="member_slot">
  <%= image_tag("jaren.jpg", class:"member_img") %>
    <h3 class="member_name">Jaren Cudilla</h3>
    <h4 class="member_email">jarencudilla@gmail.com</h4>
    <div class="links_list_container">
      <ul class="links_list">
        <li class="link"><a href="https://www.linkedin.com/in/jarencharlescudilla/" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a></li>
        <li class="link"><a href="https://github.com/jarencudilla" target="_blank"><i class="fab fa-github-square fa-lg"></i></a></li>
      </ul>
    </div>
  </div>

  <div class="member_slot">
  <%= image_tag("adrian.jpg", class:"member_img") %>
    <h3 class="member_name">Adrian Ilaga</h3>
    <h4 class="member_email">adrianilaga771@gmail.com</h4>
    <div class="links_list_container">
      <ul class="links_list">
        <li class="link"><a href="https://www.linkedin.com/in/adrian-ilaga/" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a></li>
        <li class="link"><a href="https://github.com/AdrianIlaga" target="_blank"><i class="fab fa-github-square fa-lg"></i></a></li>
      </ul>
    </div>
  </div>

  <div class="member_slot">
  <%= image_tag("daniel.jpg", class:"member_img") %>
    <h3 class="member_name">Daniel Cadiz</h3>
    <h4 class="member_email">stephencadiz014@gmail.com</h4>
    <div class="links_list_container">
      <ul class="links_list">
        <li class="link"><a href="https://www.linkedin.com/in/daniel-cadiz-b33978167/" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a></li>
        <li class="link"><a href="https://github.com/DanielCadiz" target="_blank"><i class="fab fa-github-square fa-lg"></i></a></li>
      </ul>
    </div>
  </div>

  <div class="member_slot">
  <%= image_tag("eliezer.jpg", class:"member_img") %>
    <h3 class="member_name">Eliezer Ambion</h3>
    <h4 class="member_email">eliezerambion@gmail.com</h4>
    <div class="links_list_container">
    <ul class="links_list">
        <li class="link"><a href="https://www.linkedin.com/in/eliezer-ambion/" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a></li>
        <li class="link"><a href="https://github.com/EliezerAmbion" target="_blank"><i class="fab fa-github-square fa-lg"></i></a></li>
    </ul>
    </div>
  </div>

</footer>
