<div class="most_active">
    <div class="card table_title">TOP GAINERS</div>
    <table class="table table-hover table_most_active">
    <thead>
        <tr>
        <th>Stock</th>
        <th scope="col">Last</th>
        <th scope="col">Chg(%)</th>
        <th scope="col">Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <th scope="row">FB</th>
        <td>101</td>
        <td>4%</td>
        <td>1.5M</td>
        </tr>
        <tr>
        <th scope="row">FB</th>
        <td>101</td>
        <td>4%</td>
        <td>1.5M</td>
        </tr>
        <tr>
        <th scope="row">FB</th>
        <td>101</td>
        <td>4%</td>
        <td>1.5M</td>
        </tr>
        <tr>
        <th scope="row">FB</th>
        <td>101</td>
        <td>4%</td>
        <td>1.5M</td>
        </tr>
        <tr>
        <th scope="row">FB</th>
        <td>101</td>
        <td>4%</td>
        <td>1.5M</td>
        </tr>
        <tr>
        <th scope="row">FB</th>
        <td>101</td>
        <td>4%</td>
        <td>1.5M</td>
        </tr>
        <tr>
        <th scope="row">FB</th>
        <td>101</td>
        <td>4%</td>
        <td>1.5M</td>
        </tr>
        <tr>
        <th scope="row">FB</th>
        <td>101</td>
        <td>4%</td>
        <td>1.5M</td>
        </tr>
        <tr>
        <th scope="row">FB</th>
        <td>101</td>
        <td>4%</td>
        <td>1.5M</td>
        </tr>
        <tr>
        <th scope="row">FB</th>
        <td>101</td>
        <td>4%</td>
        <td>1.5M</td>
        </tr>
    </tbody>
    </table>
</div>
