<nav class="navbar navbar-expand-lg nav_signup">
    <div class="container-fluid">
        <%=link_to(root_path, class:"navbar-brand navbar_logo")  do %>
            <img src="https://bin.bnbstatic.com/static/images/common/favicon.ico"/>
            BWINANCE
        <%end%>
        English | Download
    </div>
</nav>
