<div class="index_portfolio">
    <div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#">My Portfolio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Records</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Order History</a>
        </li>
        </ul>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                <th scope="col">Stocks</th>
                <th scope="col">Trade Type</th>
                <th scope="col">Last</th>
                <th scope="col">Shares</th>
                <th scope="col">Total Cost</th>
                <th scope="col">Market Value</th>
                <th scope="col">Profit</th>
                <th scope="col">% Profit</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">FB</th>
                <td>Long</td>
                <td>1000</td>
                <td>101</td>
                <td>80,000</td>
                <td>101,000</td>
                <td>21,000</td>
                <td>21%</td>
                </tr>
                <tr>
                <th scope="row">FB</th>
                <td>Long</td>
                <td>1000</td>
                <td>101</td>
                <td>80,000</td>
                <td>101,000</td>
                <td>21,000</td>
                <td>21%</td>
                </tr>
                <tr>
                <th scope="row">FB</th>
                <td>Long</td>
                <td>1000</td>
                <td>101</td>
                <td>80,000</td>
                <td>101,000</td>
                <td>21,000</td>
                <td>21%</td>
                </tr>
                <tr>
                <th scope="row">FB</th>
                <td>Long</td>
                <td>1000</td>
                <td>101</td>
                <td>80,000</td>
                <td>101,000</td>
                <td>21,000</td>
                <td>21%</td>
                </tr>
                <tr>
                <th scope="row">FB</th>
                <td>Long</td>
                <td>1000</td>
                <td>101</td>
                <td>80,000</td>
                <td>101,000</td>
                <td>21,000</td>
                <td>21%</td>
                </tr>
                <tr>
                <th scope="row">Total</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>101,000</td>
                <td></td>
                <td></td>
                </tr>
                <tr>
                <th scope="row">Total+Cash</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>120,000</td>
                <td></td>
                <td></td>
                </tr>
            </tbody>
        </table>
    <div class="portfolio_available_cash">
        <label>Available Cash</label>
        <span>200,000</span>
    </div>        
    <a href="#" class="btn btn-primary">See more</a>
    </div>
    </div>
</div>
