    
    <%= search_form_for @q do |f|%>
<div class="field has-addons">  
    
    <div class="control">
        <%= f.search_field :code_or_name_cont, class:"input thin radius mt-2" %>
    </div>
    <div class="control">
        <%= f.button :submit, class:"button-normal button radius2 thin mt-2", data: {disable_with: "Searching..."} do %>
            <i class='bx bx-search-alt'></i>
        <% end %>
    </div>
    <%end%>
</div>