    
    <%= search_form_for @q do |f|%>
<div class="field has-addons">  
    
    <div class="control">
        <%= f.search_field :code_or_name_cont, class:"input" %>
    </div>
    <div class="control">
        <%= f.button :submit, class:"button is-info" do %>
            <i class='bx bx-archive-in'></i>
        <% end %>
    </div>
    <%end%>
</div>