<div class="sidebar">
    <nav class="nav">
        <ul>
            <li class="sidebar-active">
                <%=link_to root_path do%>
                    <i class="fas fa-tachometer-alt sidebar-icons"></i>
                    <span>Dashboard</span>
                <%end%>
            </li>
            <li>
                <i class="fas fa-cash-register sidebar-icons"></i>
                <span>Payment</span>
            </li>
            <li>
                <i class="fas fa-shield-alt sidebar-icons"></i>
                <span>Security</span>
            </li>
            <li>
                <i class="fas fa-gifts sidebar-icons"></i>
                <span>Rewards</span>
            </li>
            <li>
                <i class="fas fa-tasks sidebar-icons"></i>
                <span>Task Center</span>
            </li>
            <li>
                <i class="fas fa-cogs sidebar-icons"></i>
                <span>Settings</span>
            </li>
            <li>
                <i class="fas fa-user-friends sidebar-icons"></i>
                <span>Referral</span>
            </li>
        </ul>
    </nav>
</div>
