<div class="column">
        <span class="has-text-weight-bold title is-4">Trending Stocks</span>
        <div class="tiles mt-4 max-tile">
          <div class="tile">
            <table class="table is-borderless">
              <thead>
                <div>
                  <tr class="tiles has-background-grey-lighter">
                    <th class="has-text-centered is-size-6">Name</th>
                    <th class="has-text-centered is-size-6">Price/unit</th>
                    <th class="has-text-centered is-size-6">Return</th>
                  </tr>
                </div>
              </thead>
              <tbody>
                <% @top10.each do |x| %>
                  <tr>
                    <td><%= x.company_name %></td>
                    <td><%=number_to_currency x.latest_price %></td>
                    <td> <%= x.change_percent_s %></td>
                  </tr>
                <%end%>
              </tbody>
            </table>
          </div>
        </div>
      </div>