<p>Hello, <%= @supplier.first_name %>!</p>
<p>===============================================</p>
<p>Your email, <%= @supplier.email %> is currently under approval by the admin.</p>

<p>Once activated, you will receive an email with instructions on how to sign in.</p>
