<% flash.each do |name, msg| %>
    <% if name == "alert" %>
        <div class="alert alert-warning alert-dismissable fade show d-flex justify-content-between" role="alert">
        <%= msg %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% else %>
        <div class="alert alert-success alert-dismissable fade show d-flex justify-content-between" role="alert">
        <%= msg %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% end %>
<% end %>