<div class='landing-container'>
    <div class='landing-navbar'>
        <a href ='/'>
            <%= image_tag('Swift.png', :alt => 'SWIFT Logo', class:'app-logo') %>
        </a>
        <div class='landing-cta'>
            <a href='/'>HOME</a> &nbsp; &nbsp; &nbsp;
            <a href='/buyers/sign_in'>BUYER</a> &nbsp; &nbsp; &nbsp;
            <a href='/brokers/sign_in'>BROKER</a>
        </div>
    </div>
    <div class='landing-body'>
        <div class='landing-headline'>
            <h1 class='tagline'> SKYROCKET YOUR GAINS. </h1>
            <h2 class='tagsupport'>INVEST AND TRADE ON THE <u>MOST ADVANCED STOCK EXCHANGE</u>.</h2>
        </div>
        <div class='landing-animation'>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_kuhijlvx.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay>
        </lottie-player>
        </div>
    </div>
</div>