
<div class="user_options">
    <div id="find_stock">
      <%= link_to 'View Portfolio', portfolios_path %>    
    </div>  
</div>

<div class="user_options">
    <div id="find_stock">
      <%= link_to 'View Transactions', transactions_path %>    
    </div>  
</div>
