
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="https://images.pexels.com/photos/1183099/pexels-photo-1183099.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="d-block w-100" id="image" alt="...">
      <div class="carousel-content">
          <p>ENERGIZE YOUR LIFE<p>
          <h1 data-aos="fade-up"  data-aos-delay="500" data-aos-duration="1000">Let's make Your Tour Unforgettable</h1>
          <p data-aos="fade-down"  data-aos-delay="300" data-aos-duration="2000">Explore the world with Intense! We offer you a vast variety of tours of all types featuring both exotic and already well-known destinations.</p>
          <button type="button" class="btn btn-danger" href="#" data-aos="fade-up"  data-aos-delay="500">Learn More</button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://images.pexels.com/photos/414144/pexels-photo-414144.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="d-block w-100" id="image" alt="...">
      <div class="carousel-content">
          <p>ENERGIZE YOUR LIFE<p>
          <h1 data-aos="fade-up"  data-aos-delay="500">Let's make Your Best Trip Ever</h1>
          <p data-aos="fade-up" data-aos-duration="1000">Some representative placeholder content for the second slide.</p>
          <button type="button" class="btn btn-danger" href="#">Learn More</button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://images.pexels.com/photos/730981/pexels-photo-730981.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="d-block w-100" id="image" alt="...">
      <div class="carousel-content">
          <p>ENERGIZE YOUR LIFE<p>
          <h1 data-aos="fade-up" data-aos-duration="5000">We Provide Only the Best Tours</h1>
          <p>We are committed to offering travel services of the highest quality, combining our energy and enthusiasm, with our years of experience.</p>
          <button type="button" class="btn btn-danger" href="#">Learn More</button>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class="feature pb-5">
  <div class="d-flex justify-content-center mt-5">
  <h1 id="services">SERVICES OFFERED</h1>
  </div>

      <div class="mt-4 container">
        <div class="row">
            <div class="col mt-2">
                <div class="box" data-aos="flip-left" data-aos-duration="1000">
                <h2>AMAZING TOURS</h2>
                <h3></h3>
                <p>There are dozens of tours to choose from, while organizing a trip, and we’ll make sure your tour includes everything you need.</p>
                </div>
            </div>
            <div class="col mt-2">
                <div class="box" data-aos="flip-left" data-aos-duration="1000">
                <h2>GREAT PRICES</h2>
                <h3></h3>
                <p>All our tours and excursions are available at really affordable prices so you can always pick a great destination.</p>
                </div>
            </div>
            <div class="col mt-2">  
                <div class="box" data-aos="flip-left" data-aos-duration="1000">
                <h2>BEST SERVICES</h2>
                <h3></h3>
                <p>Our aim is to provide you with the tour service of the top quality, and we'll do our best to find the suitable tour for you.</p> 
                </div>
            </div>
        </div>
      </div>
</div>



<div id="parallax" class="flex-column justify-content-center align-content-center text-center">
<h1 id="caption" class="pt-5">We Provide Only the Best Tours</h1>
<p><strong>We are committed to offering travel services of the highest quality</strong></p>
</div>


<section class="our-team-section">
<div class="d-flex justify-content-center mt-2 mb-2">
  <h1 id="services">MEET THE TEAM</h1>
  </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                <div class="our-team">
                    <div class="pic">
                        <img src="https://scontent.fcrk1-1.fna.fbcdn.net/v/t1.18169-9/18920201_1473457416008657_792496766214744901_n.jpg?_nc_cat=108&ccb=1-3&_nc_sid=09cbfe&_nc_eui2=AeGl8Do3GVU4OQMQLbf8OTQDbxQAlrUiTNJvFACWtSJM0jsHluLZtCc-1VwUGO-tYmFVFkj3mzBhBUVMGX_9wGiK&_nc_ohc=Omz4WKS3vdYAX8U2ddR&_nc_ht=scontent.fcrk1-1.fna&oh=ced63928fca89e5659e9932d88a3d188&oe=60F8E66A">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Eileen de Guzman</h3>
                        <span class="post">Software Developer</span>
                    </div>
                    <ul class="social" id="links">
                        <li>
                            <a href="https://www.facebook.com/deguzmaneileen"  target="_blank"class="fab fa-facebook-square"></a>
                        </li>
                        <li>
                            <a href="https://github.com/Eileenandrea" class="fab fa-github-square"></a>
                        </li>
                        <li>
                            <a href="#" class="fab fa-linkedin"></a>
                        </li>
                        <li>
                            <a href="#" class="fas fa-envelope-square"></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="150">
                <div class="our-team">
                    <div class="pic">
                        <img src="https://scontent.fcrk1-3.fna.fbcdn.net/v/t1.6435-9/120323289_3811985145496562_2463989999475682301_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=174925&_nc_eui2=AeE8pfdmsJdmDlim6KAhjf81SZS4Xo-V_RVJlLhej5X9Fca78rXoGoAvvaqme6KYIiujdB7yGwtKxRDflA7zOw_a&_nc_ohc=cUmmY8T-oGIAX9-EeyV&_nc_ht=scontent.fcrk1-3.fna&oh=a0e11d6df0bae482feaf49c108a6ea95&oe=60F91294">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Leif Bersamina</h3>
                        <span class="post">Software Developer</span>
                    </div>
                    <ul class="social">
                        <li>
                            <a href="https://www.facebook.com/leifericson.bersamina"  target="_blank"class="fab fa-facebook-square"></a>
                        </li>
                        <li>
                            <a href="https://github.com/TheEyePatch" class="fab fa-github-square"></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/leif-bersamina/" class="fab fa-linkedin"></a>
                        </li>
                        <li>
                            <a href="mailto:leifbersamina@gmail.com?subject = Feedback&body = Message" class="fas fa-envelope-square"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                <div class="our-team">
                    <div class="pic">
                        <img src="https://i.mydramalist.com/1Xgg3_5f.jpg">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Joseph Ong</h3>
                        <span class="post">Software Developer</span>
                    </div>
                    <ul class="social">
                        <li>
                            <a href="https://www.facebook.com/dec007"  target="_blank"class="fab fa-facebook-square"></a>
                        </li>
                        <li>
                            <a href="https://github.com/morpheus17" class="fab fa-github-square"></a>
                        </li>
                        <li>
                            <a href="#" class="fab fa-linkedin"></a>
                        </li>
                        <li>
                            <a href="#" class="fas fa-envelope-square"></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6" data-aos="fade-up" data-aos-duration="1000">
                <div class="our-team">
                    <div class="pic">
                        <img src="https://scontent.fcrk1-1.fna.fbcdn.net/v/t1.6435-9/140633688_3743627382327267_5753054491802911267_n.jpg?_nc_cat=111&ccb=1-3&_nc_sid=174925&_nc_eui2=AeHe2_yPRlNBQfbUqCAcvaoZFH_OP6jltZIUf84_qOW1kisf7X4mJfdwdB5mrFaWutVpNocGv61wlPCsgXaNVIxL&_nc_ohc=hj1iqnaIGy0AX_0AXEh&_nc_ht=scontent.fcrk1-1.fna&oh=1a816742dc0bb6becbbca1217cc78e4a&oe=60F847D0">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Ronald Magno</h3>
                        <span class="post">Software Developer</span>
                    </div>
                    <ul class="social">
                        <li>
                            <a href="https://www.facebook.com/blinx.dlanor/"  target="_blank"class="fab fa-facebook-square"></a>
                        </li>
                        <li>
                            <a href="https://github.com/dlanoronald123" class="fab fa-github-square"></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/ronald-magno/" class="fab fa-linkedin"></a>
                        </li>
                        <li>
                            <a href="mailto:dlanoronald123@gmail.com?subject = Feedback&body = Message" class="fas fa-envelope-square"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<footer class="bg-dark text-center text-lg-start">
 

  <!-- Copyright -->
  <div class="text-center p-3 text-light" >
    © 2021 Copyright:
    <a class="text-light" href="https://mdbootstrap.com/">TravelZilla</a>
  </div>
  <!-- Copyright -->
</footer>