<div class="index">

    <%= render 'navbar' %>

    <main>

        <%# PC / Laptop View %>
        <%= render 'pc' %>

        <%# Tablet View %>

        <%# Mobile View %>
        <%= render 'mobile' %>

    </main>

</div>
