<section class="homepage">
  <% if user_signed_in? %>
    <div class="user-dashboard">
      <div class="left-content">
        <%= render 'sidebar' %>
      </div>
      
      <div class="right-content">
        <%= render 'products' %>
      </div>
    </div>
  <% else %>
    <div class="container">
      <%= render 'products' %>
    </div>
  <% end %>
</section>
