<body class="home-bg">
<%= link_to image_tag('logo.png'), root_path, class: "navbar-brand-logo"%>
<%= link_to image_tag('name.png'), root_path, class: "navbar-brand-name"%>

<div class='circle'></div>
<div class='circle1'></div>

 <%# <ul class="navbar-nav">   
   <li class="nav-item"> %>
     <%# <%= link_to 'Get Started', user_session_path, class:"nav-link-lg"  %>
   <%# </li>
</ul> %>



<div class="footer">
    <h1>Investment in knowledge pays the best interest.</h1>
    <p>© Batch 9</p>
</div>
</body>
<%# <%= render 'users/registrations/signup_form' %> 
