<% if broker_signed_in? %>
  <h1 class="text-center">Home Index page for brokers!</h1>
  <h2>Hello</h2>
  <%= current_broker.first_name %><br/>
  <%= current_broker.last_name %><br/>
<% end %>

<% if buyer_signed_in? %>
  <h1 class="text-center">Home Index page for buyers!</h1> 
  <h2>Hello</h2>
  <%= current_buyer.first_name %><br/>
  <%= current_buyer.last_name %><br/>
<% end %>
