%div{ class: 'flex flex-col items-center justify-center'}
  %h1{ class: 'm-10 text-5xl font-bold' } Login Page
  %p Find me in app/views/home/index.html.erb

  - if user_signed_in?
    = link_to 'Sign Out', destroy_user_session_path, method: :delete
  - else
    = link_to 'Register', new_user_registration_path
    = link_to 'Sign In', new_user_session_path