<section class="homepage">
  <div class="container">
    <div class="homepage__title">
      <!-- <h1 class="text-center my-5">Kalakalph Homepage</h1> -->
    </div>
    <% if user_signed_in? %>
        <%= render 'sidebar' %>
    <% end %>

    <div class="products">
      <% @items.each do |t| %>
        <%= link_to item_path(t.id), method: :get do %>
          <div class="items">
            <%= image_tag("altpic.png", :class => "itempic") %>
            <h5 class="item_name"><%= t.name %></h5>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
