<html>
  <% if user_signed_in? %>
    <div class="section">
      <div class="welcome">
        <h1>Welcome to JADE!</h1>
        <h4>Build your dream setup.</h4>
        <li><a href="#guide" class="btn btn-success">Get Started</a></li>
      </div>

      <div id="guide">
        <h2>Build Guide</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum volutpat laoreet risus sed condimentum. Nulla facilisi. Nunc mattis purus in bibendum blandit. Phasellus fermentum erat ultrices nunc aliquam interdum. Mauris rhoncus, nisi quis scelerisque dapibus, lorem ex fringilla felis, et mattis nisl eros at massa. Aenean condimentum tempus ornare. Ut scelerisque nulla ut elit iaculis, nec egestas turpis tincidunt. Suspendisse elementum pharetra auctor. Donec semper imperdiet nisi, sit amet varius sem commodo sed. Pellentesque bibendum euismod risus, luctus iaculis lacus hendrerit dictum. Proin at lectus pharetra, pharetra quam quis, dapibus purus.</p>
      </div>
    </div>
  <% else %>
    <%= render "shared/cardbuild", class: "cardbuild" %>
    <%#= render "shared/footer", class: "foot" %>
    <%= render "shared/footer2", class: "foot" %>
  <% end %>

</html>
