<div class="dashboard margin-left-none">
    <div class="columns mt-0">
        <div class="column is-full">
            <span class="is-size-4 has-text-weight-light">Welcome to </span>
            <span class="is-size-4 has-text-weight-bold green">Tradr Platform!</span>
            <br>
            <span class="has-text-grey-light has-text-weight-light is-size-5">Good Day, User</span>
            
        </div>
    </div>
    <div class="columns mt-0">
        <div class="column is-two-thirds">
            <span class="has-text-weight-bold title is-4">Your Portfolio</span> 
            
            <div class="tiles mt-4">
                <div class="tile">
                    <h1>Test</h1>
                    
                    <!-- <% @portfolio.each do |x| %>
                    <% end %> -->
                </div>
            </div>
            <div class="tiles mt-4">
                <div class="tile">
                    <h1>Test 2</h1>
                    
                    <!-- <% @portfolio.each do |x| %>
                    <% end %> -->
                </div>
            </div>
            <div class="tiles mt-4">
                <div class="tile">
                    <h1>Test 3</h1>
                    
                    <!-- <% @portfolio.each do |x| %>
                    <% end %> -->
                </div>
            </div>
            <div class="tiles mt-4">
                <div class="tile">
                    <h1>Test 4</h1>
                    
                    <!-- <% @portfolio.each do |x| %>
                    <% end %> -->
                </div>
            </div>
        </div>

        <div class="column">
            <span class="has-text-weight-bold title is-4">Trending Stocks</span> 
            <div class="tiles mt-4">
                <div class="tile">
                    <table class="table is-borderless">
                        <thead>
                            <div>
                                <tr class="tiles has-background-grey-lighter">
                                    <th class="has-text-centered is-size-6">#</th>
                                    <th class="has-text-centered is-size-6">Name</th>
                                    <th class="has-text-centered is-size-6">Price/unit</th>
                                    <th class="has-text-centered is-size-6">Return</th>
        
                                </tr>
                            </div>

                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Tokopedia</td>
                            <td>$ 6,20</td>
                            <td>+ 4.28</td>

                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Gojek</td>
                            <td>$ 6,20</td>
                            <td>+ 4.28</td>

                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Shopee</td>
                            <td>$ 6,20</td>
                            <td>+ 4.28</td>

                        </tr>
                        </tbody>
                    </table>
                    <!-- <% @portfolio.each do |x| %>
                    <% end %> -->
                </div>
            </div>
        </div>
    </div>
</div>
