<h1 class="text-center">lists of fuken stocks!</h1>

<div class="input-group">
  <div class="form-outline">
    <input type="search" id="form1" class="form-control" />
    <label class="form-label" for="form1">Search</label>
  </div>
  <button type="button" class="btn btn-primary">
    <i class="fa fa-trash"></i>
  </button>
</div>

<ul>
  <li>Apple</li>
  <li>Apple</li>
  <li>Apple</li>
  <li>Apple</li>
  <li>Apple</li>
  <li>Apple</li>
</ul>