<h1>NEWKNOT FINAL PROJECT</h1>

<p><%= link_to 'Signup as Supplier', new_supplier_registration_path %></p>
<p><%= link_to 'Login as Supplier', new_supplier_session_path %></p>
<p><%= link_to 'Signup as Buyer', new_buyer_registration_path %></p>
<p><%= link_to 'Login as Buyer', new_buyer_session_path %></p>
