%h1{:class => "text-red-600"}Test


%table{:class => "table text-gray-400 border-separate space-y-6 text-sm"}
  %thead{:class => "bg-gray-800 text-gray-500"}
    %tr
      %th{:class => "p-3"} Name