<div class="col">
  <div class="text-center">
    <h2>Pending Registrations</h2>
  </div>

  <table class="table table-dark table-hover">

    <thead>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Action</th>
    </thead>

    <tbody>
      <tr>
        <% @users.each do |user| %>
          <% if user.status == 'pending' %>
            <td><%= user.username %></td>
            <td><%= user.email %></td>
            <td><%= button_to "Approve", admins_manage_path(id: user.id), method: 'put', class: "btn btn-success" %></td>
      </tr>
        <% end %>  
      <% end %>   
    </tbody>
  </table>
</div>

