<div class="container">
  <% if current_user %>
    <div>
      <h1>Wallet</h1>
      <h5><%= number_to_currency(current_user.wallet.try{running_balance}) %></h5>
    </div>
  <% end %>
  
    <div>
      <h1>Stocks</h1>
      <% @stocks.each do |stock| %>
        <div>
          <%= stock.code %>
          <%= stock.current_price %>
          <%= link_to 'Buy/Sell', new_stock_trade_path(stock) %>
        </div>
      <% end %>
    </div>
  
</div>
