<%# Homepage CSS %>
<%= stylesheet_link_tag '/pages/homepage/main.scss' %>

<div class='homepage-container'>
  <%# Navigation Bar %>
  <header>
    <%= render 'devise/shared/navbar' %>
  </header>
  <%# Main Content %>
  <main class='homepage-wrapper'>
    <div class='left-container'>
      <h1>Welcome</h1>
      <h2>Little One</h2>
      <p>Stonks for dummies</p>
      <%= link_to 'Get Started', new_user_registration_path, :class => 'btn' %>
    </div>
    <div class='right-container'>
      <img src='' alt=''>
    </div>
  </main>
  <%= render 'devise/shared/footer' %>
</div>


