<%# Welcomes Users and shows them any notifications %>

<% if current_user %>
  <h1> Greetings <%= @user_type %> <%= @name %> </h1>
<% else %>
  <h1>THIS SHOULD SHOW EVEN NO ONE IS LOGGED IN</h1>
<% end %>

