<%=render 'shared/navigation'%>
<section class="main_class">
    <div class="container main_container">
        <div class="card main_card">
            <div class="card-body main_card_body">
                <h2 class="card-text">Buy and sell stocks in minutes</h2>
                <p class="card-text">Join the world's largest trading platform</p>
                <p class="btn btn-primary main_btn"><%=link_to "Register Now", new_user_registration_path%></p>
            </div>
        </div>
        <div class="card right_card">
    
        </div>
    </div>
</section>
<section class="section_info bg-dark">
    <div class="section_info_container">
        <h2>Get in touch. Stay in touch.</h2>
        <div class="container">
            <div class="row">
                <div class="col item_info">
                    <i class="fas fa-people-carry fa-3x"></i>
                    24/7 Support
                    <span> Got a problem? Just get in touch. Our support team is available 24/7. </span>
                </div>
                <div class="col item_info">
                    <i class="fab fa-microblog fa-3x"></i>
                    Bwinance Blog
                    <span> News and updates from the world's biggest trading platform. </span>
                </div>
                <div class="col item_info">
                    <i class="fas fa-satellite fa-3x"></i>
                    Community
                    <span> Bwinance is global. Join the discussion in our worldwide communities. </span>
                </div>
                <div class="col item_info">
                    <i class="fas fa-chalkboard-teacher fa-3x"></i>
                    Careers
                    <span> Help build the future of technology. Start your new career at Bwinance. </span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section_footer bg-dark">
    <div class="container">
        <div class="row">
            <div class="col item_footer">
                <h5>About Us</h5>
                <span> About </span>
                <span> Careers </span>
                <span> Business Contacts </span>
                <span> Community </span>
                <span> Bwinance Blog </span>
                <span> Terms </span>
                <span> Privacy </span>
                <span> Announcements </span>
                <span> News </span>
                <span> Notices </span>
            </div>
            <div class="col item_footer">
                <h5>Products</h5>
                <span> Exchange </span>
                <span> Academy </span>
                <span> BCF </span>
                <span> Card </span>
                <span> Labs </span>
                <span> Launchpad </span>
                <span> Research </span>
                <span> Trust Wallet </span>
                <span> NFT </span>
                <span> Featured Market </span>
            </div>
            <div class="col item_footer">
                <h5>Service</h5>
                <span> Downloads </span>
                <span> Desktop App </span>
                <span> Buy stocks </span>
                <span> Fees </span>
                <span> Institutional Services </span>
                <span> Referral </span>
                <span> Affiliate </span>
                <span> Otc Trading </span>
                <span> Listing Application </span>
                <span> Trading Rules </span>
            </div>
            <div class="col item_footer">
                <h5>Support</h5>
                <span> Give Us Feedback </span>
                <span> Support Center </span>
                <span> Submit a request </span>
                <span> API documentation </span>
                <span> Bwinance Verify </span>
                <span> Law Enforcement Requests </span>
            
            </div>
            <div class="col item_footer">
                <h5>Community</h5>
            </div>
        </div>
    </div>
</section>
<section class="section_copyright bg-dark">
    Bwinance © 2021
</section>
