<div class="container mt-5 landing__page">
  <div class="col">
    <div class="text-center mb-5">
      <h1 class="title__header">The next generation of stock trading</h1>
      <div class="landing__main__image mt-5 mb-5">
        <%= image_tag 'tradify_img_transparent' %>
      </div>
      <h2>
        Tradify is a virtual stock market app that allows you to trade stocks in a risk free environment, while being able to experience the thrill of an online stock market.
      </h2>
    </div>

    <ul class="landing__features mt-5 mb-5 border-top">
      <li>
        <h2 class="title__header">Don't spend your money on expensive stocks</h2>
        <h4>Trade stocks with Tradify for free! You can buy, sell or even trade them for other stocks. The best part is that there are no risks involved - you won't lose any money if you get it wrong.</h4>
      </li>
      <li>
        <h2 class="title__header">Learn how to trade without investing your money</h2>
        <h4>
          If you want to know how to trade without risking any money, Tradify is the app for you. You can learn how to make the right decisions and strategies before risking any funds.
        </h4>
      </li>
      <li>
        <h2 class="title__header">Practice your skills with virtual currency</h2>
        <h4>With Tradify's virtual currency, it's possible to practice your trading skills without having to invest a single penny!</h4>
      </li>
      <li>
        <h2 class="title__header">User-friendly interface</h2>
        <h4>Tradify is easy to use and has a user-friendly interface that helps make the stock-buying process easier than ever before. No more complicated terminology or confusing symbols!</h4>
      </li>
    </ul>
  </div>
</div>
