
<div class="container flex justify-center">

<div class="mt-5 ml-10 bg-blue-400 p-8 rounded-b-lg shadow-lg w-1/2 text-white text-center ">

<h1 class="text-center font-bold text-5xl mt-5">Welcome to Peddler!</h1>
<p class="text-lg leading=tight mt-3 mb-5 font-light mb-10">Handle your stocks trading with us !</p>

<%= link_to "Sign up", new_user_registration_path, class:"px-4 py-2 text-lg font-semibold text-gray-50 bg-green-500 rounded-lg focus:text-gray-900 mb-10" %>

</div>

</div>





