<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/> 
  </head>
  <body>
    <h1>Good Day <%= @user.username %>,</h1><br>
    <p>
      We are pleased to inform you that your 
      broker account registration has now been approved.    
    </p><br>
    <p>
      To login with your broker account, just follow this link :    
    </p><br>
    <p>
      Thanks for joining and happy trading!!!    
    </p><br>
    <p>
      Sincerely, Stockerz Community  
    </p>
  </body>
</html>