<h1> DASHBOARD </h1>

 <button type="button" class="btn btn-outline-light">
    <%= link_to "Add Entry", mainbook_new_path %>
  </button>

  <button type="button" class="btn btn-outline-light">
    <%= link_to "Show Main Book Entries", mainbook_entries_path %>
  </button>