<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'new-session-form is-flex is-flex-direction-column is-align-items-center'}) do |f| %>
  <div class="field">
    <%= f.email_field :email, autocomplete: "email", placeholder: 'âœ‰ï¸ Email' %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: 'ðŸ”’ Password'%>
  </div>

  <div class="actions">
    <%= f.button "Log in as Admin Now â†’", class: 'login-btn' %>
  </div>
<% end %>
