<header class="header sessions">
    <div class="header-container">
        <div class="is-flex is-flex-wrap-wrap is-align-items-center is-justify-content-space-between">
            <div class="logo logo-sessions">
                <a href="/">noFomo STA</a>
            </div>
        </div>
    </div>
</header>
