<div class="new-session">

  <%= render 'navbar' %>

  <main>

    <%# Text %>
    <br/><br/>

    <div class="new-sessions-text is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
      <h1 class="new-session-h1">Admin Log In</h1>
      <br/>
      <span class="new-session-span">Welcome back Admin! See what's going on right now.</span>
      <span class="new-session-span">Everybody deserves to be rich.</span>
    </div>

    <%# Form %>
    <br/><br/>

    <%= render 'form' %>

    <br/><br/>

    <%= render 'footer' %>

  </main>

</div>
