<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello, <%= @email %>!</p>
    <p>Your account has been approved.</p>
    <p>You may now start trading.</p>
    <p>Visit <%= @url %> to access you account.</p>
  </body>
</html>
