//Variables
@import './variables';
@import '../../base/mixins/mixins';



.btn {
  @include button-bg($lightGreen);

  color: $white;
  text-decoration: none;
  padding: 10px 50px;
  border-radius: 3px;
  font-size: 1em;
  font-weight: 550;
  font-family: $poppins;
  border-radius: 8px;
  margin-top: 20px;
  outline: none;
  border: none;
  cursor: pointer;
}

.register-btn { 
  @include button-bg($lightGreen);

  color: $white;
  background-color: $lightGreen;
  border: none;
  border-radius: 20px;
  padding: 8px 15px;
  cursor: pointer;
}
