//Variables
@import './variables';
@import '../../base/mixins/mixins';
<<<<<<< HEAD
@import '../../application/responsive/responsive.scss';

=======


>>>>>>> 9dd218210259a1f53d6f3f82b7aef771b3a946e9

.btn {
  @include button-bg($lightGreen);

  color: $white;
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 3px;
  font-size: 0.8em;
  font-weight: 550;
  font-family: $poppins;
  border-radius: 8px;
  margin-top: 20px;
  outline: none;
  border: none;
  cursor: pointer;

}

.register-btn { 
  @include button-bg($lightGreen);

  color: $white;
  background-color: $lightGreen;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
}
