@import './variables';
@import '../../base/mixins/mixins';

h1 {
  font-size: 1.8rem;
  color: $black;
}

h5 {
  font-size: 0.8rem;
  color: $black;
  margin: 5px 0 30px 0;
}


.form-container {
  @include flexCenter(column);
  
  font-family: $karla;
  border: none;
  border-radius: 8px;
  padding: 10px 20px; 
  height: 550px;
  width: 450px;
}

.form {
  height: 500px;
  text-align: center;
  padding: 30px;
  font-size: 0.8em;
}

.form-btn {
  margin: 15px 0 25px 0;
}

.label {
  font-family: $kanit;
  font-weight: 700;
  margin-bottom: 200px;
}

.field {
  text-align: left;
  padding: 10px;
}

.checkbox {
  margin: 8px 0;
}

.text-field {
  background-color: $lightGray;
  outline: none;
  border: none;
  border-radius: 10px;
  margin-top: 8px;
  padding: 12px;
  width: 400px;
}

.google-btn {
  width: 400px;
  border: 2px solid #4285F4;
  padding: 12px 70px;
  margin: 0;
}