@import './variables';
@import '../../base/mixins/mixins';
@import '../responsive/responsive.scss';

.form-container {
  position: fixed;
  width: 100%;
  max-width: 200px;
  height: 70vh;
  margin: 0 auto;


  h2 {
    font-size: 2rem;
    margin-bottom: 100px;
  }

  .field {
    
    .label {
      font-size: 1rem;
      letter-spacing: 3px;
    }

    .text-field {
      border: 1px solid $gray;
      border-radius: 5px;
      font-size: 1rem;
      padding: 5px;
      width: 200px;
      height: 30px;
      margin: 10px 0 30px 0;
      outline: none;
    }
  }

  .checkbox {
    display: flex;
    align-items: center;
    font-size: 1rem;

    #user_remember_me {
      margin-right: 5px;
      width: 10px;
      height: 10px;
    }
  }

  .btn {
    @include flexCenter();
    font-size: 1rem;
    margin: 20px auto;
    padding: 5px 8px;
    height: 2rem;
    width: 5rem;
  }

  .sign-up,
  .forgotPass {
    color: $black;
    font-size: 0.9rem;
    margin: 10px 0;
    text-decoration: none;
    cursor: pointer;
  }
}