//Colors
$lightGreen: #3bb78f;
$darkGreen: #0bab64;
$white: #fff;
$lightGray: #F3F3F4;
$gray: #8A8A8A;
$black: #070A1A;
$blue: #1A73E8;


//Fonts
$poppins: 'Poppins', sans-serif;
$kanit: 'Kanit', sans-serif;
$karla: 'Karla', sans-serif;
$openSans: 'Open Sans Condensed', sans-serif;
$lato: 'Lato', sans-serif;

//shadow
$shadow: 3px 3px 20px 1px rgba(192, 192, 192, 0.945);
