//Colors
$primaryBtn: #26D7A0;
$textColor: #fff;
$secondaryText: #454F57;
$backgroundColor: #070A1A;


//Fonts
$poppins: 'Poppins', sans-serif;
$kanit: 'Kanit', sans-serif;
$karla: 'Karla', sans-serif;
$openSans: 'Open Sans Condensed', sans-serif;