//Colors
$lightGreen: #26D7A0;
$white: #fff;
$gray: #8A8A8A;
$black: #070A1A;


//Fonts
$poppins: 'Poppins', sans-serif;
$kanit: 'Kanit', sans-serif;
$karla: 'Karla', sans-serif;
$openSans: 'Open Sans Condensed', sans-serif;