<%# Main Css  %>
<%= stylesheet_link_tag "/pages/sessions/main.scss" %>


<div class=container> 
  <%# Navigation Bar %>
  <header>
    <nav class='navbar'>
      <a class='nav-logo'>Investonks<span class='dot'></span></a>
      <ul class='nav-links'>
        <li><a>Portfolio</a></li>
        <li><a>Market</a></li>
        <li><a>Transactions</a></li>
        <li><a>Logout</a></li>
      </ul>
    </nav>
  </header>
  <%# Content %>
  <main class='login-container'>
    <%= render 'form' %>
  </main>
</div>
