<div class="new-session">

  <%= render 'navbar' %>

  <main>

    <%# right vector %>
    <svg class="session-svg" viewBox="0 0 124 210" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M193.787 84.5004C41.8898 51.6527 107.267 113.969 158.942 149.233" stroke="black" stroke-width="2"/>
      <path d="M267.255 62.0644C-78.1088 -9.09085 70.1197 127.826 187.404 205.179" stroke="black" stroke-width="2"/>
      <path d="M212.003 1.69185C-156.942 1.32578 42.2369 139.159 187.945 208.121" stroke="black" stroke-width="2"/>
    </svg>

    <%# Text %>
    <br/><br/>

    <div class="new-sessions-text is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
      <h1 class="new-session-h1">Log In to Your Account</h1>
      <br/>
      <span class="new-session-span">Everybody deserves to be rich. Choose from different company</span>
      <span class="new-session-span">share count to trade now!</span>
    </div>

    <%# Form %>
    <br/><br/>

    <%= render 'form' %>

    <%= render 'footer' %>

  </main>

</div>
