<%# Main Css  %>
<%= stylesheet_link_tag "/pages/sessions/login.scss" %>


<div id='login' class='container'> 
  <%# Navigation Bar %>
  <header>
    <nav class='navbar'>
      <%= link_to root_path, :class => 'nav-logo' do %>
      Investonks<span class='dot'></span>
      <% end %>
    </nav>
  </header>
  <%# Content %>
  <main class='login-container'>
    <%= render 'form' %>
  </main>
  <footer>
    <%= render 'devise/shared/footer' %>
  </footer>
</div>
