<div class="card text-center transaction_history">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
            <%=link_to "My Portfolio", portfolio_index_path, class: "nav-link"%>
        </li>
        <li class="nav-item">
            <%=link_to "Records", transactions_portfolio_index_path, class: "nav-link"%>
        </li>
        <li class="nav-item">
            <%=link_to "Pending Orders", pending_orders_portfolio_index_path, class: "nav-link active"%>
        </li>
        </ul>
    </div>
    <div class="card-body">
        <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
            <th scope="col">Date Ordered</th>
            <th scope="col">Status</th>
            <th scope="col">Stock</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <th scope="row">Sep 20, 2021</th>
            <th scope="row">Pending</th>
            <td>FB</td>
            <td>1000</td>
            <td>10000</td>
            <td><button class="btn btn-danger">Cancel Order</button></td>
            </tr>
        <tr>
        <tr>
            <th scope="row">Sep 20, 2021</th>
            <th scope="row">Pending</th>
            <td>FB</td>
            <td>1000</td>
            <td>10000</td>
            <td><button class="btn btn-danger">Cancel Order</button></td>
        </tr>
        <tr>
            <th scope="row">Sep 20, 2021</th>
            <th scope="row">Pending</th>
            <td>FB</td>
            <td>1000</td>
            <td>10000</td>
            <td><button class="btn btn-danger">Cancel Order</button></td>
        </tr>
        </tbody>
        </table>
    </div>
</div>