.box {
    background-color: #36393e;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.1);
  }
  
  .box:hover {
    box-shadow: 0 20px 15px -15px rgba(0, 0, 0, 0.5);
    transform: translateY(-0.3em);
  }
  
  .box2 {
    background-color: #36393e;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.1);
    color: white;
  }
  
  .box2:hover {
    box-shadow: 0 20px 15px -15px rgba(0, 0, 0, 0.5);
    transform: translateY(-0.3em);
  }
  
  .empty-dashboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .taskExpand{
    padding-left: 40px;
  }
  
  .empty-dashboard img{
    width: 30%;
  }
  
  .add-link{
    color: #93c33c;
    transition: all 0.2s ease-in-out;
  }
  
  .add-link:hover{
    color: black;
  }
  
  .newDiv{
    padding-left: 20px;
    padding-top: 20px;
  }
  
  a.navbar-hover {
    background: linear-gradient(to right, #2c2f34 50%, #93c33c 50%);
    text-decoration: none;
    background-position: 0;
    background-size: 200%;
    transition: all 0.2s ease;
    color: white;
    border-radius: 5px;
  }
  
  a.navbar-hover-signout {
    background: linear-gradient(to right, #2c2f34 50%, #ff5252 50%);
    text-decoration: none;
    background-position: 0;
    background-size: 200%;
    transition: all 0.2s ease;
    color: white;
    border-radius: 5px;
  }
  
  a.navbar-hover-signout:hover {
    background-position: -100%;
    color: black;
  }
  
  select{
    max-width: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
  }
  
  // a.navbar-item-logo {
  //   transition: all 0.3s ease-in-out;
  // }
  
  // a.navbar-item-logo:hover {
  //   //   box-shadow: 0 20px 15px -15px rgba(0, 0, 0, 0.5);
  //   transform: translateY(-0.2em);
  // }
  
  a.navbar-hover:hover {
    background-position: -100%;
    color: black;
  }
  
  .margin_none {
    margin: 0;
  }
  
  .start-now {
    background-color: var(--logo_color);
    color: rgb(48, 48, 48);
  
    border-radius: 5px;
    padding-left: 35px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 35px;
    font-weight: bold;
    transition: background-color 0.2s ease, color 0.2s ease;
  }
  
  .start-now:hover {
    color: #efefef;
  }
  
  .start-now-two {
    background-color: var(--logo_color);
    color: rgb(48, 48, 48);
    border-radius: 5px;
    border: 3px solid rgb(48, 48, 48);
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    transition: background-color 0.2s ease, color 0.2s ease;
  }
  
  .start-now-three {
    background-color: var(--color_five);
    color: rgb(48, 48, 48);
    border-radius: 5px;
    border: 3px solid rgb(48, 48, 48);
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    transition: background-color 0.2s ease, color 0.2s ease;
  }
  
  #task_box {
    background-color: rgba(247, 247, 247, 0.068);
  }
  #task_box2 {
    background-color: var(--logo_color);
  }
  
  .start-now-four {
    background-color: var(--logo_color);
    color: white;
    border-radius: 6px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    transition: background-color 0.2s ease, color 0.2s ease;
  }
  
  h3 {
    cursor: default;
  }
  
  .icon-color {
    color: var(--logo_color);
  }
  .logo-font {
    font-size: 25px;
  }
  
  .navbar {
    box-shadow: 0 10px 15px -15px rgba(0, 0, 0, 0.5);
  }
  
  .tile-container {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  .trix-toolbar {
    display: none;
  }
  
  .tiles {
    margin-bottom: 100px;
  }
  
  // @media screen and (max-width: 1023px){
  
  // .navbar-menu {
  //     background-color: white;
  //     box-shadow: 0 8px 16px rgb(10 10 10 / 10%);
  //     padding: 0.5rem 0;
  // }
  
  // }
  
  @media only screen and (max-width: 768px) {
    .tile-container {
      grid-template-columns: 1fr 1fr;
    }
    #dashboard-top-card {
      padding-left: 24px;
      padding-right: 24px;
    }
  }
  
  @media only screen and (max-width: 482px) {
    .tile-container {
      grid-template-columns: 1fr;
    }
  
    .empty-dashboard img{
      width: 70%;
    }
  
    #dashboard-top-card-statistics,
    #task_box {
      flex-direction: column
    }
  
    #task_box>div>div:nth-child(2)>a {
      margin-top: 8px;
  }
  
  #dashboard-top-card-statistics>div, #task_box>div, #task_box>div>div:nth-child(2)>a {
    width: 100%;
  }
  
  }
  
  @media screen and (max-width: 1023px) {
      a.navbar-hover {
          background: linear-gradient(to right, #ffffff 50%, #52ffc1 30%);
          text-decoration: none;
          background-position: 0;
          background-size: 200%;
          transition: all 0.2s ease;
          color: black;
        }
        
        a.navbar-item {
          transition: all 0.3s ease-in-out;
        }
  
        a.navbar-hover-signout {
          background: linear-gradient(to right, #ffffff 50%, #ff5252 30%);
          text-decoration: none;
          background-position: 0;
          background-size: 200%;
          transition: all 0.2s ease;
          color: black;
        }
        
  
        .buttons{
            display: block;
        }
  }
  
  
  
  .container-left-task img {
    width: 50%;
    height: auto;
  }
  
  .progress{
    border-radius: 2px;
  }
  
  .progress.is-small{
    height: .50rem;
  }
  
  .textarea{
    overflow: hidden;
  }
  
  .completed-success {
    border: 2px solid hsl(141, 71%, 48%) !important;
  }
  
  .completed-warning {
    border: 2px solid hsl(48, 100%, 67%) !important;
  }
  
  .completed-danger {
    border: 2px solid #f14668 !important;
  }
  
  .completed-light {
    border: 2px solid whitesmoke !important;
  }
  
  .tile-status{
  
    margin-bottom: 20px;
    border-radius: 7px;
    font-size: 12px !important;
    align-items: flex-end !important;
  }
  
  .card_title{
    margin-top: 10px;
  }
  
  .box-bg2{
    background-color: var(--logo_color);
  }
  
  .task-progress-container {
    width: 50%;
  }
  
  .task-progress-container .progress-container{
    width: 100%;
  }
  