<%= render 'header' %>

<div class="bg-white pb-4 px-8 rounded-md w-full">
    <div class="overflow-x-auto mt-6">
        <table class="table-auto border-collapse w-full">
            <thead>
            <tr class="rounded-lg text-white text-sm font-medium text-left bg-gradient-to-bl from-gray-900 via-purple-900 to-violet-600" style="font-size: 0.9674rem">
                <th class="px-4 py-2">Name</th>
                <th class="px-4 py-2 ">Symbol</th>
                <th class="px-4 py-2 ">Amount</th>
            </tr>
            </thead>
            <tbody class="text-sm font-normal text-gray-700">
            <% @markets.each do |market| %>
                <tr class="hover:bg-gray-100  border-gray-200">
                    <td class="px-4 py-4"><%= market.name %></td>    
                    <td class="px-4 py-4"><%= market.market_symbol %></td>    
                    <td class="px-4 py-4"><%= market.curr_price %></td>    
                </tr>
            <% end %>
            </tbody>
        </table>
    </div>
</div>

