<h1>Stock Market</h1>

<table>
<tr>
  <th>Symbol</th>
  <th>Company Name</th>
  <th>Price</th>
  <th>Actions</th>
</tr>
<% @markets.each do |market| %>
<tr>
  <td><%= market.name %></td>
  <td><%= market.company_name %></td>
  <td>$<%= market.current_price %></td>
  <td><%= link_to 'View', new_user_portfolio_path(user_id:current_user.id, market_id:market.id) %></td>
</tr>
<% end %>
</table>
