@import '../../application/objects/variables';
@import '../../base/mixins/mixins';
@import '../../application/responsive/responsive.scss';

body {
  color: #000;
  background: $white;
  font-family: $poppins;
  height: 100vh;
  width: 100%;
}

ul {
  font-weight: 200;

  li {
    color: $gray;
  }
}

#homepage {
  background-image: url(asset_path('homeBG.png'));
  background-size: cover;
  background-position: center;
}

//Button
.btn {
  color: $white;
  padding: 20px 50px;
  font-weight: 400;

  @include respond-to('large') {
    padding: 10px 50px;
  }
}

/********************
Content
********************/
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  font-family: $lato;
  max-width: 80%;

  .col-1 {
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;

    h2 {
      font-size: 4rem;
      font-weight: 700;
    }

    p {
      font-size: 1.2rem;
      font-weight: 100;
      color: #707070;
      margin: 20px 0 80px 0;
    }

    &::after {
      @include button-bg($lightGreen);
      content: '';
      width: 3px;
      height: 45%;
      position: absolute;
      left: -40px;
      top: 8px;
    }
  }

  .col-2 {
    position: relative;
    flex-basis: 45%;
    display: flex;
    align-items: center;

    .homepage-img {
      width: 100%;
    }
  }

  @include respond-to('medium') {
    flex-direction: column-reverse;
    height: 500px;
    margin: 0 auto;

    .col-1 {
      flex-basis: 100%;

      h2 {
        font-size: 1.5rem;
      }

      p {
        font-size: 0.8rem;
        margin: 20px 0 30px 0;
      }

      &::after {
        height: 20%;
      }
    }

    .col-2 {
      display: flex;
      justify-content: center;
      flex-basis: 100%;
      margin: 0 auto;

      .homepage-img {
        width: 70%;
      }
    }
  }
}
