@import '../../application/objects/variables';
@import '../../base/mixins/mixins';
@import '../../application/responsive/responsive.scss';

ul {
  font-weight: 200;

  li {
    color: $gray;
  }
}

#homepage {
  background-image: url(asset_path('homeBG.png'));
  background-size: cover;
  background-position: center;
}

//Button
.btn {
  color: $white;
  padding: 20px 50px;
  font-weight: 400;

  @include respond-to('large') {
    padding: 10px 50px;
  }
}

/********************
Content
********************/
.row {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-family: $lato;
  max-width: 80%;
  text-align: center;

  .col-1 {
    position: relative;

    h2 {
      font-weight: 700;
    }

    p {
      font-size: 0.8rem;
      font-weight: 100;
      color: #707070;
      margin: 20px 0 30px 0;
      line-height: 25px;
      max-width: 350px;
    }
  }

  .col-2 {
    position: relative;
    display: flex;
    align-items: center;

    .homepage-img {
      width: 300px;
    }
  }
}
