@import '../../application/objects/variables';
@import '../../base/mixins/mixins';
@import '../../application/responsive/responsive.scss';

body {
  color: #000;
  background: $white;
}

ul {
  font-weight: 200;
  
  li {
    color: $gray;
  }
}

/********************
Homepage Container
********************/


/********************
Content
********************/
.homepage-wrapper {
  @include flexCenter(row);
  width: 100%;
  height: 80vh;

  h1, h2 {
    font-size: 5rem;
    font-weight: 900;
    color: $black;
    text-align: center;

    @include respond-to('medium') {
      font-size: 3rem;
    }
  }

  h2 {
    letter-spacing: 3px;
  }
  
  p {
    font-size: 2rem;
    color: $gray;
    margin-bottom: 100px;
    margin-top: 50px;

    @include respond-to('medium') {

    }
  }

  .btn {
    color: $white;
    padding: 20px 50px;
    background-color: $lightGreen;
    font-weight: 400;

    @include respond-to('medium') {
      padding: 10px 50px;
    }
  }
}