@import '../../application/objects/variables';
@import '../../base/mixins/mixins';

body {
  color: #000;
  height: 100vh;
  width: 100%;
  background: url(asset_path('homepageBG.png')) no-repeat center center fixed;
  background-size: cover;
  display: block;
}

ul {
  font-weight: 200;
  
  li {
    color: $gray;
  }
}

/********************
Navigation Bar
********************/
.nav-logo {
  color: #000;
}

.navbar {
  justify-content: space-between;
}

/********************
Content
********************/
.wrapper {
  @include flexCenter();

  height: 80vh;
  width: 100%;
  
  h1 {
    font-size: 5rem;
    font-weight: 900;
    color: $black;
    padding-bottom: 50px;
    
  }
  
  p {
    font-size: 1.5rem;
    color: $gray;
    margin-bottom: 200px;
  }

  .btn {
    color: $white;
    padding: 10px 50px;
    background-color: $lightGreen;
    font-weight: 400;
  }
}
