:root {
  // font
  --fw-reg: 300;
  --fw-bold: 900;

  --fs-h1: 3rem;
  --fs-h2: 1.7rem;
  --fs-h3: 1.2rem;
  --fs-body: 0.7rem;
  --fs-label: 0.65rem;

  --clr-light: rgb(248, 248, 248);
  --clr-dark: #404040;
  --clr-accent-light: #5ba1c1;
  --clr-accent-lighter: #8fcbe6;
  --clr-accent-dark: #01627f;
  --clr-accent-darker: #003c57;

  --h-form: 320px;
  --p-form: 1.8em;
  --w-form: 38rem;

  --input-w: 18rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.145),
    -0.1em 0.125em 0.25em rgba(0, 0, 0, 0.1);
}

@media (min-width: 650px) {
  :root {
    --fs-h1: 3.4rem;
    --fs-h2: 2rem;
    --fs-h3: 1.35rem;
    --fs-body: 0.9rem;
    --fs-label: 0.725rem;

    --h-form: 400px;
    --p-form: 2.4em;
    --w-form: 42rem;

    --input-w: 22rem;
  }
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4rem;
    --fs-h2: 2.2rem;
    --fs-h3: 1.45rem;
    --fs-body: 1rem;
    --fs-label: 0.9rem;

    --h-form: 450px;
    --p-form: 2.5em;
    --w-form: 48rem;

    --input-w: 24rem;
  }
}

@font-face {
  font-family: mont;
  src: url(./Montserrat-Regular.ttf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  height: 100vh;
  font-family: mont;
  background-repeat: no-repeat;
}

a {
  color: var(--clr-accent);
}

.button {
  cursor: pointer;
  background: var(--clr-accent-dark);
  border: none;
  outline: none;
  padding: 0.5em 2em;
  border-radius: 0.4rem;
  color: var(--clr-light);
}

@mixin flexCenter($direction, $align-items) {
  display: flex;
  align-items: $align-items;
  flex-direction: $direction;
}
