// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* Admin Dashboard */

.admin-container main {
    margin-top: 1.4rem;

    // overflow-y: hidden;
}

.admin-container main h1 {
    color: #000;
    font-size: 1.5rem;
    font-weight: 600;
}

.date {
    display: inline-block;
    background-color: rgb(202, 184, 206);
    border-radius: 0.5rem;
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
}

main .insights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

.insights>div {
    background-color: #fff;
    padding: 1.8rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    box-shadow: 0 1rem 1rem rgba(132, 139, 200, 0.18);
    transition: all 300ms ease;
}

.insights>div:hover {
    box-shadow: none;
}

.insights>div svg {
    background-color: rgb(111, 54, 124);
    padding: 0.5rem;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.insights>div.traders svg {
    background-color: rgb(124, 54, 75);
}

.insights>div.companies svg {
    background-color: rgb(54, 124, 89);
}

.insights>div.middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left h3 {
    color: #000;
    font-weight: 600;
    font-size: 1.15rem;
}

/* Traders List */

main .traders-list {
    margin-top: 2rem;
}

.traders-list h2 {
    color: #000;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.8rem;
}

main .traders-list table {
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    padding: 1.8rem;
    text-align: center;
    box-shadow: 0 1rem 1rem rgba(132, 139, 200, 0.18);
    transition: all 300ms ease;
    overflow-y: scroll !important;
}

.traders-list table:hover {
    box-shadow: none;
}

th {
    padding: 1rem !important;
}

main table tbody tr td {
    height: 2rem;
    color: #000;
}

main table {
    margin-bottom: 1rem;
}

.table-link-to-view-btn {
    color: rgb(10, 88, 10);
    font-weight: 550;
}

/* Right */

.right {
    margin-top: 1.4rem;
}

.right .top {
    display: flex;
    justify-content: end;
    gap: 2rem;
    border-radius: 10px;
}

.right .top button {
    display: none;
}

.right .theme-toggler {
    margin-top: 0.45rem;
    background-color: rgba(132, 139, 200, 0.18);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: 0.4rem;
}

.right .theme-toggler svg {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .theme-toggler svg.active {
    background-color: rgb(111, 54, 124);
    border-radius: 0.4rem;
    fill: white;
}

.right .top .profile {
    display: flex;
    gap: 2rem;
    text-align: right;
}

.right .top .profile .info p {
    margin-top: 0.45rem;
}

.rightTop-p {
    margin-top: 0.45rem;
}

/* Recent Transactions */

.right .recent-transactions {
    margin-top: 1rem;
}

.right .recent-transactions h2 {
    margin-bottom: 0.8rem;
    color: #000;
    font-weight: 600;
    font-size: 1.5rem;
}

.right .recent-transactions .updates {
    background-color: #fff;
    padding: 1.8rem;
    border-radius: 2rem;
    box-shadow: 0 1rem 1rem rgba(132, 139, 200, 0.18);
    transition: all 300ms ease;
}

.right .recent-transactions .updates:hover {
    box-shadow: none;
}

.right .recent-transactions .updates .update {
    display: grid;
    grid-template-columns: 2.6rem auto;
    gap: 1rem;
    margin-bottom: 1rem;
}

.message {
    background-color: transparent !important;
}

/* Search */

.right .search {
    margin-top: 2rem;
}

.right .search h2 {
    font-size: 1.25rem;
    font-weight: 550;
    color: #000;
    margin-bottom: 0.8rem;
}

.right .search .search-item {
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem 1.8rem;
    border-radius: 1.2rem;
    box-shadow: 0 1rem 1rem rgba(132, 139, 200, 0.18);
    transition: all 300ms ease;
}

.right .search .search-item:hover {
    box-shadow: none;
}

/* For Dark Theme */

.top-dark,
.card-dark,
.rec-trans-dark {
    background-color: #322f3d !important;
}

.dark-bg,
.sB-Active {
    background-color: #886547 !important;
}

.html,
.body-dark,
.admin-container-dark,
.aside-bg,
.sideMenu-dark {
    background-color: #181717 !important;
}

.light-text,
.date-text,
.admin-container-h1,
.sideMenu-text-light,
.rightTop-p,
.rightSearch-h2,
.rec-text-light {
    color: #fff !important;
}

.top-close,
.top-text,
.sB-svg-light,
.right-sun-light,
.right-prof-light,
.rec-updates-light,
.search-light {
    fill: white !important;
}

.sB-Before:before {
    content: '';
    width: 6px;
    height: 100%;
    background-color: #5a432f !important;
}

.view-Btn {
    color: rgb(36, 167, 36) !important;
}

.t-hr-dark {
    background-color: rgba(255, 255, 255, 0.411);
}

/* Media Queries */

@media screen and (max-width: 1200px) {
    main .insights {
        grid-template-columns: 1fr;
        gap: 0;
    }

    main .traders-list {
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 0 8.8rem;
    }

    main .traders-list table {
        width: 75vw;
    }
}

@media screen and (max-width: 768px) {
    .admin-container main {
        margin-top: 8rem;
        padding: 0 1rem;
    }

    main .traders-list {
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }

    main .traders-list table {
        width: 100%;
        margin: 0;
    }

    .right {
        width: 94%;
        margin: 0 auto 4rem;
    }

    .right .top {
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background-color: #fff;
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 1rem 1rem rgba(132, 139, 200, 0.18);
        border-radius: 0px;
    }

    .right .top .theme-toggler {
        width: 4.4rem;
        position: absolute;
        left: 66%;
    }

    .right .profile .info {
        display: none;
    }

    .right .top button {
        display: inline-block;
        background-color: transparent;
        cursor: pointer;
        color: #000;
        position: absolute;
        left: 1rem;
        border: none;
        outline: none;
    }
}
