@import 'base';

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--clr-dark);
  padding: 0em 1em;
  // display: none;

  .logo {
    color: var(--clr-light);
    @include flexCenter(row);
    margin-bottom: 4em;
    padding: 2em 4em 0 0;
  }

  .nav_list {
    height: 50%;
    @include flexCenter(column);
    align-items: flex-start;
    justify-content: space-evenly;

    .user_profile {
      position: absolute;
      bottom: 2em;
      color: var(--clr-accent);
    }

    .list {
      span:hover {
        text-decoration: underline;
      }
    }
  }
}

// footer
.footer-center {
  @include flexCenter(row);
  width: 100%;
  justify-content: center;

  footer {
    font-size: var(--fs-label);
    margin-left: 5em;
    position: absolute;
    bottom: 0.2em;
  }
}
