@import 'base';

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--clr-accent-darker);
  padding: 0em 2.5em;
  // display: none;

  .logo {
    color: var(--clr-light);
    @include flexCenter(row, center);
    margin-bottom: 4em;
    padding: 3em 0 0 0;
  }

  .nav_list {
    height: 30%;
    @include flexCenter(column, flex-start);
    justify-content: space-evenly;
    color: var(--clr-accent-lighter);

    .user_profile {
      position: absolute;
      bottom: 6em;
      color: var(--clr-light);
      line-height: 80%;

      em {
        font-size: 0.75rem;
      }
    }

    .list {
      span:hover {
        text-decoration: underline;
      }
    }
    .signout {
      position: absolute;
      bottom: 3em;
    }
  }
}
