* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  overflow-x: hidden;
  scrollbar-color: #383d59 #0b132b;
  scrollbar-width: thin;
}

.body-bg {
  position: fixed;
  top: 0vh;
  left: 0vw;
  background-color: #0B132B;
  height: 100vh;
  width: 100vw;
  z-index: -50;
}

.navbar_admin {
  opacity: 1;
  position: fixed;
  top: -4vh;
  left: 0vw;
  background-color: #383d59;
  height: 6.5rem;
  width: 100vw;
  z-index: 1;
  transition: 0.5s ease;
}

.logo {
  position: fixed;
  top: 3vh;
  left: 2vw;
  width: 8rem;
  z-index: 5;
}

.logoutbtn {
  font-family: "Open Sans";
  font-weight: 600;
  color: #ffeeca;
  font-size: 1rem;
  padding: 0.5rem;
  border: 2px solid #007d57;
  background-color: #007d57;
  width: 6rem;
  text-align: center;
  transition: ease 0.5s;
  position: fixed;
  top: 2.25vh;
  left: 90vw;
  text-decoration: none;
  z-index: 5;
}

.logoutbtn:hover {
  text-decoration: none;
  background-color: #0c5841;
  border-color: #0c5841;
  color: #ffeeca;
}

.body_layout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollable {
  overflow-y: scroll;
  height: 55vh;
}

.admin_section {
  margin-top: 15vh;
  display: grid;
  width: 90%;
  grid-template-columns: 60% 10% 30%;
}

.user_card_pending {
  display: grid;
  grid-template-columns: 30% 50% 20%;
  margin: 1rem;
}

.user_card_users {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 1rem;
}

.user_text {
  font-size: 1rem;
  margin: 1rem;
  font-family: "Open Sans";
  font-weight: 400;
  overflow-y: hidden;
  color: #eaeeff;
  text-decoration: none;
  transition: ease 0.5s;
}

.user_text:hover {
  font-weight: bold;
}

.user_link, .user_link:hover {
  text-decoration: none;
}

.username {
  color: #d2a517;
}

.approve {
  color: #007d57;
  font-weight: bold;
}

.bold {
  font-weight: 700;
}
