.admin_approve_btn{
    width: 80%;
}

.admin_table{
    width: 80%;
    margin-top: 1rem;
}

.admin_button{
    background: #72A0C1;
    border-radius: 5px;
    color: black !important;
}

.admin_button:hover{
    color: gray !important;
}
