.admin_approve_btn{
    width: 80%;
    background: gold;
    color: black !important;
    padding: .5rem;
    border-radius: 12px;
    margin-right: .5rem;
}

.admin_reject_btn{
    width: 80%;
    background: rgb(160, 159, 156);
    color: black !important;
    padding: .5rem;
    border-radius: 12px;
    margin-right: .5rem;
}

.admin_table{
    width: 80%;
    margin-top: 1rem;
}

.admin_button{
    background: #72A0C1;
    border-radius: 5px;
    color: black !important;
}

.admin_button:hover{
    color: gray !important;
}


