/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&family=Karla:wght@400;700;800&family=Lato:wght@300;700&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Poppins:wght@400;600&display=swap');
@import './application/objects/variables';
@import './base/mixins/mixins';
@import './application/objects/buttons';
@import './application/responsive/responsive.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: $black;
  font-size: 100%;
}

ul li {
  list-style-type: none;
}

ul li a {
  color: $gray;
  text-decoration: none;
}

/********************
Container
********************/
.container {
  width: 100%;
  min-height: 100vh;
  padding-top: 2%;
  padding-left: 8%;
  padding-right: 8%;
  overflow: hidden;

}

/********************
Navigation Bar
********************/
// Navbar
.navbar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 10vh;

  // Logo
  .nav-logo {
    color: $black;
    font-weight: 800;
    text-decoration: none;

    .dot {
      height: 5px;
      width: 5px;
      background-color: $lightGreen;
      border-radius: 50%;
      display: inline-block;
      font-weight: 800;
      margin-left: 2px;
    }
}

  //Nav Links
  .nav-links {
    width: 120px;

    ul {
      display: flex;
      justify-content: space-between;
      padding-top: 12px;

      li {
        font-size: 1rem;
        font-weight: 700;
      }
    }
  }

  .nav-link {
    font-size: 0.7rem;
  }

  @include respond-to('small') {
    .nav-logo {
      font-size: 1.5rem;

      .dot {
        height: 5px;
        width: 5px;
      }
    }
  }

  @include respond-to('medium') {
    .nav-links {
      width: 180px;
    }

    .nav-logo {
      font-size: 3rem;

      .dot {
        height: 8px;
        width: 8px;
      }
    }

    .nav-link {
      font-size: 0.9rem;
    }
  }

  @include respond-to('xl') {
    .nav-logo {
      font-size: 2rem;
    }

    .nav-link {
      font-size: 1rem;
    }
  }
}


/********************
Footer
********************/
.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 30px;
  text-align: center;

  @include respond-to('small') {

    
    p {
      font-size: 1rem;
    }
  }

  @include respond-to('medium') {
    margin-bottom: 10px;

    p {
      font-size: 1.8rem;
    }
  }

  @include respond-to('xl') {

    p {
      font-size: 1rem;
    }
  }

}