/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Readex+Pro&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
 //Landing Page//
.landing-container {
    .landing-navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .app-logo {
            height: 3em;
            padding: 1em;
        }
        .landing-cta {
            padding-right: 5em;
            display: flex;
            align-items: center;
            justify-content:space-evenly;
            position: relative;
            font-family: 'Share Tech Mono', monospace;
            font-weight: 800;
            font-size: 1.3em;
        }
        a {
            text-decoration: none;
        }
    }
    .landing-body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background: #351b7e;
        background-size: cover;
        position: relative;
        width: 100%;
        min-height: 100vh;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .landing-headline {
            font-family: 'Readex Pro', sans-serif;
            color: white;
            line-height: 0.5;
        }
        .tagline {
            font-size: 3.5em;
            text-shadow:
                0 0 4px rgb(107, 90, 182);
        }
        .tagsupport {
            font-size: 2em;
        }
    }
}
//End of Landing Page//

//Buyer Log-in and Registration//
.buyerlogin-container {
    font-family: 'Share Tech Mono', monospace;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    .login-nav {
        .app-logo {
            height: 3em;
            padding: 1em;
        }
    }
    .reg-forms {
    background: #351b7e;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
        .login-animation {
            padding-top: 10em;
        }
        .login-form {
            float: right;
            padding-top: 10em;
            padding-right: 15em;
            color: white;
            font-size: 1em;
            h2 {
                font-size: 2em;
            }
            p {
                font-size: 1.1em;
            }
            input {
                padding: 5px;
                font-size: 15px;
                width: 16vw;
                outline: none;
                background-color: rgb(67, 206, 130);
            }
            input:focus,textarea:focus {
                box-shadow: 0 0 5px rgba(81, 203, 238, 1);
                border: 3px solid turquoise;
            }
            a {
                text-decoration: none;
                color: rgb(10, 189, 49);
            }
            input#buyer_email {
                width: 15vw;
                background-color: white;
            }
            input#buyer_password {
                width: 15vw;
                background-color: white;
            }
        }

    }
}
//End of Buyer Log-in and Registration//

