/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 :root {
    --color_one: #352e51;
    --color_two: #21c58e;
    --color_three: #fbfbfb;
    --color_four: #34b6e3;
    --color_five: #e14846;
    --nav_bar: #000000;
    --logo_color: #5944be;
    --new_color: #121319;
    --start-now-color: #d1df56;
  }
  
  html {
    background-color: var(--color_three);
    font-family: "Poppins", sans-serif;
    /* background: url("/assets/wavebg.svg") no-repeat bottom center; */
    height: 100%;
    width: 100%;
    
  }
  
  ::-moz-selection { /* Code for Firefox */
    color: white;
    background:#352e51;
  }
  
  
  ::selection{
    color: white;
    background:#352e51;
  }
  @keyframes fadein {
    0% { opacity: 0; }
    20% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  .notification{
    animation: fadein 7s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
  }
  
  
  .margin-index{
    margin-top: 200px;
  }
  
  .tile-color {
    color: var(--color_four);
  }
  
  .card_title {
    color: var(--nav_bar);
  }
  
  .info-box {
    background-color: var(--color_four);
  }
  
  .box-bg {
    background-color: var(--new_color);
  }
  
  .logo {
    color: #5944be;
  }
  
  
  .home-title {
    color: var(--nav_bar);
  }
  
  .navbar {
    background-color: #fbfbfb;
  }
  
  .button{
    background: none;
    border: none;
  }
  
  .home-text {
    color: var(--nav_bar);
  }
  /* .card-bg{
      background-color: var(--nav_bar);
  } */
  
  .login {
    background-color: #19c78b;
  }
  
  .task{
    color: var(--logo_color);
  }
  
  .go{
    color: #02cd68;
  }
  
  
  .nav_icon {
    color: var(--nav_bar);
  }
  
  .newjournal-svg {
    width: 200px;
  }
  
  .container-left img,
  .container-right form,
  .container-right .container-errors {
    width: 75%;
    height: auto;
  }
  
  .container-left,
  .container-right {
    display: flex !important;
    justify-content: center;
    /* align-items: center; */
  }
  
  .container-right {
    flex-direction: column;
  }
  
  @media screen and (min-width: 769px), print {
    .column.is-6,
    .column.is-6-tablet {
      flex: none;
      width: 50%;
    }
  }
  
  .columns {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    margin-top: 100px;
  }
  
  
  
  .tiles {
    margin-bottom: 25px;
  }
  
  .footer__wave {
    display: block;
    width: 100%;
    height: 100px;
    max-height: 100px;
    margin: 0;
    bottom: 0;
    position: fixed;
    left: 0px;
    float: left;
  }
  
  .navbar-burger{
    color: white;
  }
  
  .navbar-burger:hover{
    color: white;
  }
  
  progress{
    border-radius: 0px;
  }

  

  .box {
    background-color: #36393e;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.1);
  }
  
  .box:hover {
    box-shadow: 0 20px 15px -15px rgba(0, 0, 0, 0.5);
    transform: translateY(-0.3em);
  }
  
  .box2 {
    background-color: #36393e;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.1);
    color: white;
  }
  
  .box2:hover {
    box-shadow: 0 20px 15px -15px rgba(0, 0, 0, 0.5);
    transform: translateY(-0.3em);
  }
  
  .empty-dashboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .taskExpand{
    padding-left: 40px;
  }
  
  .empty-dashboard img{
    width: 30%;
  }
  
  .add-link{
    color: #93c33c;
    transition: all 0.2s ease-in-out;
  }
  
  .add-link:hover{
    color: black;
  }
  
  .newDiv{
    padding-left: 20px;
    padding-top: 20px;
  }
  
  a.navbar-hover {
    background: linear-gradient(to right, #fbfbfb 50%, #32d05d 50%);
    text-decoration: none;
    background-position: 0;
    background-size: 200%;
    transition: all 0.2s ease;
    color: black;
    border-radius: 2px;
  }
  
  a.navbar-hover-signout {
    background: linear-gradient(to right, #fbfbfb 50%, #ff5252 50%);
    text-decoration: none;
    background-position: 0;
    background-size: 200%;
    transition: all 0.2s ease;
    color: black;
    border-radius: 2px;
  }
  
  a.navbar-hover-signout:hover {
    background-position: -100%;
    color: black;
  }
  
  select{
    max-width: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
  }
  
  /* // a.navbar-item-logo {
  //   transition: all 0.3s ease-in-out;
  // }
  
  // a.navbar-item-logo:hover {
  //   //   box-shadow: 0 20px 15px -15px rgba(0, 0, 0, 0.5);
  //   transform: translateY(-0.2em);
  // }
   */
  a.navbar-hover:hover {
    background-position: -100%;
    color: white;
  }
  
  .margin_none {
    margin: 0;
  }
  
  .start-now {
    background-color: var(--logo_color);
    color: white;
  
    border-radius: 5px;
    padding-left: 35px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 35px;
    font-weight: bold;
    transition: background-color 0.2s ease, color 0.2s ease;
  }
  
  .start-now:hover {
    color: #36393e;
  }
  
  .start-now-two {
    background-color: var(--logo_color);
    color: white;
    border-radius: 5px;
    border: 3px solid #5944be;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    transition: background-color 0.2s ease, color 0.2s ease;
  }
  
  .start-now-two:hover{
    color: whitesmoke;
    background-color: #02cd68;
    border: 3px solid #02cd68;
  }

  .start-now-three {
    background-color: var(--color_five);
    color: rgb(48, 48, 48);
    border-radius: 5px;
    border: 3px solid rgb(48, 48, 48);
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    transition: background-color 0.2s ease, color 0.2s ease;
  }
  
  #task_box {
    background-color: rgba(247, 247, 247, 0.068);
  }
  #task_box2 {
    background-color: var(--logo_color);
  }
  
  .start-now-four {
    background-color: var(--logo_color);
    color: white;
    border-radius: 6px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    transition: background-color 0.2s ease, color 0.2s ease;
  }
  
  h3 {
    cursor: default;
  }
  
  .icon-color {
    color: var(--logo_color);
  }
  .logo-font {
    font-size: 25px;
  }
  
  .navbar {
    box-shadow: 0 10px 15px -15px rgba(0, 0, 0, 0.233);
  }
  
  .tile-container {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  .trix-toolbar {
    display: none;
  }
  
  .tiles {
    margin-bottom: 100px;
  }
  
  /* // @media screen and (max-width: 1023px){
  
  // .navbar-menu {
  //     background-color: white;
  //     box-shadow: 0 8px 16px rgb(10 10 10 / 10%);
  //     padding: 0.5rem 0;
  // }
  
  // } */
  
  @media only screen and (max-width: 768px) {
    .tile-container {
      grid-template-columns: 1fr 1fr;
    }
    #dashboard-top-card {
      padding-left: 24px;
      padding-right: 24px;
    }
  }
  
  @media only screen and (max-width: 482px) {
    .tile-container {
      grid-template-columns: 1fr;
    }
  
    .empty-dashboard img{
      width: 70%;
    }
  
    #dashboard-top-card-statistics,
    #task_box {
      flex-direction: column
    }
  
    #task_box>div>div:nth-child(2)>a {
      margin-top: 8px;
  }
  
  #dashboard-top-card-statistics>div, #task_box>div, #task_box>div>div:nth-child(2)>a {
    width: 100%;
  }
  
  }
  
  @media screen and (max-width: 1023px) {
      a.navbar-hover {
          background: linear-gradient(to right, #ffffff 50%, #52ffc1 30%);
          text-decoration: none;
          background-position: 0;
          background-size: 200%;
          transition: all 0.2s ease;
          color: black;
        }
        
        a.navbar-item {
          transition: all 0.3s ease-in-out;
        }
  
        a.navbar-hover-signout {
          background: linear-gradient(to right, #ffffff 50%, #ff5252 30%);
          text-decoration: none;
          background-position: 0;
          background-size: 200%;
          transition: all 0.2s ease;
          color: black;
        }
        
  
        .buttons{
            display: block;
        }
  }
  
  
  
  .container-left-task img {
    width: 50%;
    height: auto;
  }
  
  .progress{
    border-radius: 2px;
  }
  
  .progress.is-small{
    height: .50rem;
  }
  
  .textarea{
    overflow: hidden;
  }
  
  .completed-success {
    border: 2px solid hsl(141, 71%, 48%) !important;
  }
  
  .completed-warning {
    border: 2px solid hsl(48, 100%, 67%) !important;
  }
  
  .completed-danger {
    border: 2px solid #f14668 !important;
  }
  
  .completed-light {
    border: 2px solid whitesmoke !important;
  }
  
  .tile-status{
  
    margin-bottom: 20px;
    border-radius: 7px;
    font-size: 12px !important;
    align-items: flex-end !important;
  }
  
  .card_title{
    margin-top: 10px;
  }
  
  .box-bg2{
    background-color: var(--logo_color);
  }
  
  .task-progress-container {
    width: 50%;
  }
  
  .task-progress-container .progress-container{
    width: 100%;
  }
  
  .shared-links{
    margin-bottom: 0px;
    margin-top: 20px;
  }