/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

html {
  scroll-behavior: smooth;
}

body {
  /* color: #333; */
  color: #202a35;
}

section {
  padding: 40px 0;
  /* background-color: #f6f6e9; */
  min-height: calc(100vh - 112px);
}

/* Global */
.orange {
  color: #fd5f00;
}

.bg-orange {
  background-color: #fd5f00;
}

a {
  color: inherit;
  transition: 0.2s ease-in;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

.table th,
.table td {
  vertical-align: middle;
}

.table-container {
  height: 70vh;
  overflow: hidden;
  overflow-y: auto;
}

.table-container .thead-bg-color {
  background-color: #005792;
  color: #f6f6e9;
}

.table-container th {
  border: none;
  border: 0;
}

.table-container .btn {
  min-width: 100px;
}

.table-container .btn-info {
  background-color: #005792;
}

.table-container .btn-danger {
  background-color: #fd5f00;
}

/* Form error list */
.form-error-ul {
  margin: 0;
  /* padding: 0; */
  /* list-style-type: none; */
}

.btn {
  min-width: 150px;
}

.btn-primary {
  background-color: #fd5f00;
  border: 3px solid #fd5f00;
  transition: 0.2s ease-in;
}

.btn-primary:hover {
  background-color: #005792;
  border: 3px solid transparent;
  color: #f6f6e9;
}

.form-devise,
.form-buy,
.form-sell {
  min-height: calc(100vh - 112px);
  padding: 40px 0;
}

.form-devise .col-img-container,
.form-devise .col-form-devise {
  position: relative;
}

/* Navbar */
nav.navbar a.nav-link {
  color: #f6f6e9 !important;
}

nav.navbar a.nav-link:hover {
  /* color: yellow !important; */
  color: #005792 !important;
}

footer {
  background-color: #f5f5f5;
  height: 56px;
  padding: 8px 0;
}

/* RESPONSIVE LAYOUT */
/* Extra large devices  */
@media (max-width: 1199px) {
}

/* Large devices */
@media (max-width: 991px) {
}

/* Medium devices */
@media (max-width: 767px) {
  section {
    padding: 30px 0;
  }

  .form-devise {
    padding: 30px 0;
  }
}

/* Small devices */
@media (max-width: 575px) {
  section {
    padding: 20px 0;
  }

  .form-devise {
    padding: 20px 0;
  }
}
