/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*
 *= require font-awesome
 */

 @import "font-awesome";
 @import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Readex+Pro&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

 //Landing Page//
.landing-container {
    overflow: hidden;
    .landing-navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .app-logo {
            height: 2.6em;
        }
        .landing-cta {
            padding-right: 0.5em;
            display: flex;
            align-items: center;
            justify-content:space-evenly;
            position: relative;
            font-family: 'Share Tech Mono', monospace;
            font-weight: 800;
            font-size: 1.2em;
        }
        a {
            text-decoration: none;
        }
        #admin-cta {
            background: rgb(247, 206, 23);
            border-radius: 10px;
        }
    }
    .landing-body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background: #351b7e;
        background-size: cover;
        border-radius: 3px;
        position: relative;
        width: 100%;
        min-height: 100vh;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .landing-headline {
            font-family: 'Readex Pro', sans-serif;
            color: white;
            line-height: 0.5;
        }
        .tagline {
            font-size: 3.5em;
            text-shadow:
                0 0 4px rgb(107, 90, 182);
        }
        .tagsupport {
            font-size: 2em;
        }
    }
    .notice {
        font-family: 'Public Sans','sans-serif';
        float: right;
    }
}
//End of Landing Page//

//Buyer Log-in//
.buyerlogin-container {
    font-family: 'Share Tech Mono', monospace;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .reg-forms {
    background: #351b7e;
    border-radius: 3px;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
        .login-animation {
            padding-top: 10em;
        }
        .login-form {
            float: right;
            padding-top: 10em;
            padding-right: 15em;
            color: white;
            font-size: 1em;
            h2 {
                font-size: 2em;
            }
            p {
                font-size: 1.1em;
            }
            input {
                padding: 5px;
                font-size: 15px;
                width: 16vw;
                outline: none;
                background-color: rgb(67, 206, 130);
                border-radius: 3px;
                position: relative;
            }
            input:focus,textarea:focus {
                box-shadow: 0 0 5px rgba(81, 203, 238, 1);
                border: 3px solid turquoise;
            }
            a {
                text-decoration: none;
                color: rgb(10, 189, 49);
            }
            input#buyer_email {
                width: 15vw;
                background-color: white;
            }
            input#admin_email {
                background-color: white;
                width: 15vw;
            }
            input#broker_broker_name {
                background-color: white;
                width: 15vw;
            }
            input#broker_email {
                background-color: white;
                width: 15vw;
            }
            input#admin_password {
                background-color: white;
                width: 15vw;
            }
            input#broker_password {
                background-color: white;
                width: 15vw;
            }
            input#buyer_password {
                width: 15vw;
                background-color: white;
            }
            span {
                color: #351b7e;
                position: absolute;
                right:650px;
                transform: translateY(35%);
                cursor: pointer;
            }
        }

    }
}
//End of Buyer Log-in//

//Buyer Registration//
.buyerreg-container {
    font-family: 'Share Tech Mono', monospace;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .reg-forms {
        background: #351b7e;
        border-radius: 3px;
        width: 100%;
        min-height: 100vh;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .signup-form {
            padding: 5em;
            color: rgb(255, 255, 255);
            border-color: rgb(101, 86, 240);
            h2 {
                font-size: 2em;
            }
            p {
                font-size: 1.1em;
            }
            a {
                text-decoration: none;
                color: rgb(10, 189, 49);
            }
            input {
                width: 16vw;
                padding: 5px;
                font-size: 15px;
                outline: none;
                background-color: rgb(67, 206, 130);
                border-radius: 3px;
                position: relative;
            }
            input:focus,textarea:focus {
                box-shadow: 0 0 5px rgba(81, 203, 238, 1);
                border: 3px solid turquoise;
            }
            input#buyer_email {
                width: 15vw;
                background-color: white;
            }
            input#buyer_password {
                background-color: white;
                width: 15vw;
            }
            input#buyer_password_confirmation {
                background-color: white;
                width: 15vw;
            }
            input#broker_broker_name {
                width: 15vw;
                background-color: white;
            }
            input#broker_email {
                width: 15vw;
                background-color: white;
            }
            input#broker_password {
                background-color: white;
                width: 15vw;
            }
            input#broker_password_confirmation {
                background-color: white;
                width: 15vw;
            }
            input#admin_email {
                width: 15vw;
                background-color: white;
            }
            input#admin_password {
                background-color: white;
                width: 15vw;
            }
            input#admin_password_confirmation {
                background-color: white;
                width: 15vw;
            }
        }
    }
}
//End of Buyer Registration//

//Buyer Home//
.buyer-container {
    .buyer-body {
        // height:89vh;
        width: 100vw;
        background: #351b7e;
        .welcome-buyer {
            background-image: url(buyerdivbg.jpeg);
            height: 100vh;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: column;
            .headline {
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                margin-top: 6em;
                .welcome-tag {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: 'Public Sans','sans-serif';
                    color: white;
                    background: #351b7e;
                    width: 17vw;
                    height: 12vh;
                }
                .link-portfolio, .link-transactions, .link-profile {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: 'Poppins','sans-serif';
                    color: white;
                    background: #351b7e;
                    text-decoration: none;
                    font-size: 0.9em;
                    padding: 0.5em;
                }
                .stock-list {
                    margin-right: 6em;
                    background: white;
                    padding: 1.5em;
                    padding-top: 0.7em;
                    padding-bottom: 0;
                    color: #351b7e;
                    font-family: 'Public Sans','sans-serif';
                    .stocklist-head {
                        color: black;
                    }
                    .buy-stock {
                        text-decoration: none;
                        background: lavender;
                        border-radius: 5px;
                        color: blue;
                    }
                }
            }
        }
    }
}
//End of Buyer Home//

//Buyer Portfolio//
.buyerportfolio-container {
    .buyerportfolio-body {
        width: 100vw;
        display: flex;
        flex-direction: column;
        .headtag {
            display: flex;
            float: left;
            font-family: 'Poppins',sans-serif;
        }
        .table {
            display: flex;
            .stock-table {
                background: #351b7e;
                border-radius:3px;
                width:60vw;
                color: white;
                padding:2em;
                font-family: 'Public Sans',sans-serif;
                font-size: 1em;
                .buy-stock {
                    text-decoration: underline;
                    color: white;
                }
                .table-head {
                    font-size: 1.3em;
                    th {
                        padding: 10px;
                    }
                }
                .table-body {
                    background: white;
                    color: black;
                    td {
                    padding: 10px;
                    .sell-stock {
                        text-decoration: none;
                    }
                    }
                }
            }
        }
    }
}
//End of Buyer Portfolio//

//Buyer Transactions//
.buyertransactions-container {
    .buyertransactions-body{
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        font-family: 'Public Sans','sans-serif';
        background: #351b7e;
        .header {
            font-family: 'Poppins','sans-serif';
            display: flex;
            flex-direction: row;
            align-items: center;
            background: white;
            color: #351b7e;
            h1 {
                color: black;
            }
        }
        .transactions-table {
            display: flex;
            align-items: center;
            justify-content: center;
            background: lightcyan;
            color: black;
            border-radius:3px;
            font-size: 1em;
            margin: 3em;
            tr {
                background: white;
            }
            th {
                background: white;
            }
            td {
                border-bottom: 3px solid gray;
            }
        }
    }
}
//End of Buyer Transactions//

//Buyer Profile//
.buyerprofile-container {
    .buyerprofile-body {
        height: 100vh;
        width: 100vw;
        display: flex;
        margin-left: 4%;
        flex-direction: column;
        font-family: 'Poppins','sans-serif';
        .header {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 1em;
            padding-left: 4.5em;
            padding-bottom: 1em;
            color: #351b7e;
            h2 {
                font-size: 1.5em;
                color: #351b7e;
            }
        }
        .form-container {
            display: flex;
            flex-direction: row;
            .avatar {
                padding: 2em;
                width: 20vw;
                cursor: pointer;
                display: flex;
                justify-content: center;
                .image {
                    height: 30vh;
                }
            }
            .form {
                padding-left: 3em;
                display: flex;
                flex-direction: column;
                input {
                    border: none;
                    border-bottom: 5px solid lavender;
                    width: 20vw;
                }
                .pw-min {
                    font-size: 0.8em;
                }
                .update, .delete {
                    background:#351b7e;
                    color: white;
                    font-family: 'Poppins','sans-serif';
                    cursor: pointer;
                }
            }
        }
    }
}
//End of Buyer Profile//

//Buy and Sell Stock//
.showstock-container {
    .showstock-body {
        display: flex;
        flex-direction: row;
        align-items: left;
        justify-content: right;
        font-family: 'Public Sans','sans-serif';
        height: 100vh;
        margin: 5%;
        .stock-head {
            display: flex;
            flex-direction: column;
            padding: 2em;
            background: #351b7e;
            color: white;
            height: 547px;
            .img {
                padding-left: 1em;
            }
        }
        .form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 1.2em;
            h1 {
                text-decoration: underline;
            }
            .buy {
                font-family: 'Poppins','sans-serif';
                background: lavender;
                border-radius: 5px;
                cursor: pointer;
                margin-left: 70px;
                font-size: 1em;
            }
        }
    }
}
//End of Buy and Sell Stock//

//Broker Home//
.broker-container {
    .broker-body {
        width: 100vw;
        .welcome-broker {
            background: white;
            height: 100vh;
            border-radius: 3px;
            display: flex;
            flex-direction: column;
            .tradingview-widget-container {
                display: flex;
                flex-direction: row;
            }
            .headline {
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                margin-top: 6em;
                .welcome-tag {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: 'Public Sans','sans-serif';
                    color: white;
                    background: #351b7e;
                    border-radius: 3px;
                    width: 17vw;
                    height: 12vh;
                }
                .link-portfolio, .link-transactions, .link-profile {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: 'Poppins','sans-serif';
                    color: white;
                    background: #351b7e;
                    border-radius: 3px;
                    text-decoration: none;
                    font-size: 0.9em;
                    padding: 0.5em;
                }
                .search-stock {
                    margin-right: 15em;
                    background: #351b7e;
                    padding: 1.5em;
                    border-radius: 3px;
                    padding-top: 0.7em;
                    padding-bottom: 0;
                    color: white;
                    font-family: 'Public Sans','sans-serif';
                    .btn {
                        font-family: 'Poppins','sans-serif';
                    }
                    input::placeholder {
                        font-family: 'Poppins','sans-serif';
                    }
                }
            }
        }
    }
}
//End of Broker Home//

//Broker Transactions//
.brokertransactions-container {
    .brokertransactions-body{
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        font-family: 'Public Sans','sans-serif';
        background: #351b7e;
        .header {
            font-family: 'Poppins','sans-serif';
            display: flex;
            flex-direction: row;
            align-items: center;
            background: white;
            color: #351b7e;
            h1 {
                color: black;
            }
        }
        .transactions-table {
            display: flex;
            align-items: center;
            justify-content: center;
            background: lightcyan;
            color: black;
            border-radius:3px;
            font-size: 1em;
            margin: 3em;
            tr {
                background: white;
            }
            th {
                background: white;
            }
            td {
                border-bottom: 3px solid gray;
            }
        }
    }
}
//End of Broker Transactions//

//Broker Portfolio//
.brokerportfolio-container {
    .brokerportfolio-body {
        width: 100vw;
        display: flex;
        flex-direction: column;
        .headtag {
            display: flex;
            float: left;
            font-family: 'Poppins',sans-serif;
        }
        .table {
            display: flex;
            .stock-table {
                background: #351b7e;
                border-radius:3px;
                width:60vw;
                color: white;
                padding:2em;
                font-family: 'Public Sans',sans-serif;
                font-size: 1em;
                .buy-stock {
                    text-decoration: underline;
                    color: white;
                }
                .table-head {
                    font-size: 1.3em;
                    th {
                        padding: 10px;
                    }
                }
                .table-body {
                    background: white;
                    color: black;
                    td {
                    padding: 10px;
                    .sell-stock {
                        text-decoration: none;
                    }
                    }
                }
            }
        }
    }
}
//End of Broker Portfolio//

//Admin Home//
.admin-container {
    .admin-body {
        height: 100vh;
        background: #351b7e;
        border-radius: 3px;
        .header {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-family: 'Poppins','sans-serif';
            background: #351b7e;
            color: white;
            font-size: 2em;
            .image {
                height: 40vh;
            }
        }
    }
}
//End of Admin Home//

//Admin Users//
.adminusers-container {
    .adminusers-body {
        font-family: 'Poppins','sans-serif';
        background: #351b7e;
        height: 100vh;
        border-radius: 3px;
        .header {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-left: 3em;
            color: black;
            background: white;
            font-family: 'Public Sans','sans-serif';
        }
        .tables {
            padding: 1em;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            p {
                color: lavenderblush;
            }
            .brokers-table {
                border-top: 3px solid lightcyan;
                h3 {
                    text-decoration: underline;
                    color: white;
                    font-family: 'Public Sans','sans-serif';
                }
                th {
                    color: white;
                    font-family: 'Public Sans','sans-serif';
                }
                td {
                    background: lavender;
                    padding-left: 0.5em;
                    padding-right: 0.5em;
                }
                .btn-dark {
                    text-decoration: none;
                    color: rebeccapurple;
                }
            }
            .users-table {
                h3 {
                    text-decoration: underline;
                    color: white;
                    font-family: 'Public Sans','sans-serif';
                }
                th {
                    color: white;
                    font-family: 'Public Sans','sans-serif';
                }

                td {
                    background: lavender;
                    padding-left: 0.5em;
                    padding-right: 0.5em;
                }
                .btn-dark {
                    text-decoration: none;
                    color: rebeccapurple;
                }
            }
        }
    }
}
//End of Admin Users//

//Admin Add Broker//
.newbroker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .newbroker-body {
        font-family: 'Poppins','sans-serif';
        background: #351b7e;
        height: 100vh;
        width: 50vw;
        border-radius: 3px;
        .header {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: black;
            background: white;
            font-family: 'Public Sans','sans-serif';
        }
        .form {
            background: rgb(197, 197, 243);
            border-radius: 3px;
            height: 50vh;
            display: flex;
            flex-direction: column;
            padding: 2em;
            display: flex;
            align-items: center;
            input {
                border: none;
                border-bottom: 3px solid lightcyan;
                width: 20vw;
                background: none;
            }
            .submit {
                font-family: 'Public Sans', 'sans-serif';
                background: lavender;
                font-size: 1em;
            }
        }
    }
}
//End of Admin Add Broker//

//Admin Add Buyer//
.newbuyer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .newbuyer-body {
        font-family: 'Poppins','sans-serif';
        background: #351b7e;
        height: 100vh;
        width: 50vw;
        border-radius: 3px;
        .header {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: black;
            background: white;
            font-family: 'Public Sans','sans-serif';
        }
        .form {
            background: rgb(197, 197, 243);
            border-radius: 3px;
            height: 50vh;
            display: flex;
            flex-direction: column;
            padding: 2em;
            display: flex;
            align-items: center;
            input {
                border: none;
                border-bottom: 3px solid lightcyan;
                width: 20vw;
                background: none;
            }
            .submit {
                font-family: 'Public Sans', 'sans-serif';
                background: lavender;
                font-size: 1em;
            }
        }
    }
}
//End of Admin Add Buyer//

//Admin Transactions//
.admintransactions-container {
    .admintransactions-body{
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        font-family: 'Public Sans','sans-serif';
        background: #351b7e;
        .header {
            font-family: 'Poppins','sans-serif';
            display: flex;
            flex-direction: row;
            align-items: center;
            background: white;
            color: #351b7e;
            h1 {
                color: black;
            }
        }
        .transactions-table {
            display: flex;
            align-items: center;
            justify-content: center;
            background: lightcyan;
            color: black;
            border-radius:3px;
            font-size: 1em;
            margin: 3em;
            tr {
                background: white;
            }
            th {
                background: white;
            }
            td {
                border-bottom: 3px solid gray;
            }
        }
    }
}
//End of Admin Transactions//

//Admin Pending//
.adminpending-container {
    .adminpending-body {
        font-family: 'Poppins','sans-serif';
        background: #351b7e;
        height: 100vh;
        border-radius: 3px;
        .header {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-left: 3em;
            color: black;
            background: white;
            font-family: 'Public Sans','sans-serif';
        }
        .tables {
            padding: 1em;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            p {
                color: lavenderblush;
            }
            .brokers-table {
                border-top: 3px solid lightcyan;
                h3 {
                    text-decoration: underline;
                    color: white;
                    font-family: 'Public Sans','sans-serif';
                }
                th {
                    color: white;
                    font-family: 'Public Sans','sans-serif';
                }
                td {
                    background: lavender;
                    font-size: 0.85em;
                    padding-left: 0.5em;
                    padding-right: 0.5em;
                }
                .btn-success {
                    text-decoration: none;
                    color: rebeccapurple;
                }
            }
            .users-table {
                h3 {
                    text-decoration: underline;
                    color: white;
                    font-family: 'Public Sans','sans-serif';
                }
                th {
                    color: white;
                    font-family: 'Public Sans','sans-serif';
                }

                td {
                    background: lavender;
                    font-size: 0.85em;
                    padding-left: 0.5em;
                    padding-right: 0.5em;
                }
                .btn-success {
                    text-decoration: none;
                    color: rebeccapurple;
                }
            }
        }
    }
}
//End of Admin Pending//

//Admin Edit Buyer//
.editbuyer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .editbuyer-body {
        font-family: 'Poppins','sans-serif';
        background: #351b7e;
        height: 100vh;
        width: 50vw;
        border-radius: 3px;
        .header {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: black;
            background: white;
            font-family: 'Public Sans','sans-serif';
        }
        .form {
            background: rgb(197, 197, 243);
            border-radius: 3px;
            height: 50vh;
            display: flex;
            flex-direction: column;
            padding: 2em;
            display: flex;
            align-items: center;
            input {
                border: none;
                border-bottom: 3px solid lightcyan;
                width: 15vw;
                background: none;
                font-size: 1em;
            }
            .submit {
                font-family: 'Public Sans', 'sans-serif';
                background: lavender;
                font-size: 1em;
            }
        }
    }
}
//End of Admin Edit Buyer//

//Admin Admin Edit Broker//
.editbroker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .editbroker-body {
        font-family: 'Poppins','sans-serif';
        background: #351b7e;
        height: 100vh;
        width: 50vw;
        border-radius: 3px;
        .header {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: black;
            background: white;
            font-family: 'Public Sans','sans-serif';
        }
        .form {
            background: rgb(197, 197, 243);
            border-radius: 3px;
            height: 50vh;
            display: flex;
            flex-direction: column;
            padding: 2em;
            display: flex;
            align-items: center;
            input {
                border: none;
                border-bottom: 3px solid lightcyan;
                width: 15vw;
                background: none;
                font-size: 1em;
            }
            .submit {
                font-family: 'Public Sans', 'sans-serif';
                background: lavender;
                font-size: 1em;
            }
        }
    }
}
//End of Admin Edit Broker//