.dashboard_balance{
    width: 100%;
}

.balance_header{
    display: grid;
    grid-template-columns: 75% 25%;
}

.balance_header span{
    letter-spacing: 1px;
    font-weight: bold;
}

.balance_btn{
    margin-right: .5rem;
    font-size: 14px;
}

.last_btn{
    font-size: 14px;
    margin-right: 0;
}

.balance_body{
    display: grid;
    grid-template-columns: 50% 50%;
}

.balance_label{
    font-size: 12px;
    color: gray;
    margin-bottom: .5rem;
}
