// Place all the styles related to the Coins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.coins-index, .coins-header{
    display:grid;
    grid-template-columns: repeat(2,60px) repeat(2,100px) repeat(3,60px);
    p {
        text-overflow: ellipsis;
    }
}