// Place all the styles related to the Coins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.coins-index, .coins-header{
    display:grid;
    grid-template-columns: repeat(2,60px) repeat(2,100px) repeat(3,60px);
    p {
        text-overflow: ellipsis;
    }
}

.coins-container{
    width: clamp(600px, 100%, 1000px);
    margin: 60px auto;
}

.coinslist-searchbar{
    display:flex;
    align-items: center;
    margin-top: 50px;
}
.coinslist-items{
    height: 700px;
    margin-bottom: 50px;
    overflow-y: scroll;
}
.coinslist-item{
    display:grid;
    grid-template-columns: 1fr 1fr 2fr;

    p{
        margin: 2px 4px;
    }
}