@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$color_darkblue: #222C3C;
$color_mustard: #D8B26E;
$color_brown: #B69B7D;
$color_cream: #E2E0D5;
$color_offwhite: #EDF2F4;
$mainFont: 'Roboto Condensed', sans-serif;
$subFont: 'Roboto', sans-serif;;

$mobileS: 320px;
$mobileM: 375px;
$mobileL: 430px;
$tablet: 770px;
$laptop: 1024px;

body {
  width: 100vw;
  height: 100%;
  background-color: $color_offwhite;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  }

.btn {
  text-decoration: none !important;  
}

.my-container {
  width: 100vw !important;
  height: 100vh !important;
}

//==========FOOTER============//

footer, .text-black
{
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  font: 80% $subFont !important;
}
.text-center, a {
    text-decoration: none !important;
  }

//=============MEDIA QUERY=================//

@media only screen and (max-width: $mobileS), (max-width: $mobileM), (max-width: $mobileL), (max-width: $tablet) {
.footer, .text-black
  {
    bottom:0;
    width:100vw;
    height:40px;
    text-align: center;
    font: 40% $subFont !important;
  }
}
