* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  overflow-x: hidden;
  scrollbar-color: #383d59 #0b132b;
  scrollbar-width: thin;
}

.body-bg {
  position: fixed;
  top: 0vh;
  left: 0vw;
  background-color: #0B132B;
  height: 100vh;
  width: 100vw;
  z-index: -50;
}

.navbar_admin {
  opacity: 1;
  position: fixed;
  top: -4vh;
  left: 0vw;
  background-color: #383d59;
  height: 6.5rem;
  width: 100vw;
  z-index: 1;
  transition: 0.5s ease;
}

.logo {
  position: fixed;
  top: 3vh;
  left: 2vw;
  width: 8rem;
  z-index: 5;
}

.logoutbtn {
  font-family: "Open Sans";
  font-weight: 600;
  color: #ffeeca;
  font-size: 1rem;
  padding: 0.5rem;
  border: 2px solid #007d57;
  background-color: #007d57;
  width: 6rem;
  text-align: center;
  transition: ease 0.5s;
  position: fixed;
  top: 2.25vh;
  left: 90vw;
  text-decoration: none;
  z-index: 5;
}

.logoutbtn:hover {
  text-decoration: none;
  background-color: #0c5841;
  border-color: #0c5841;
  color: #ffeeca;
}

.details {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: 35% 65%;
}

.user_down {
  margin-left: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.detes {
  display: grid;
  grid-template-columns: 30% 70%;
}

.test {
  display: block;
  width: 100%;
  height: 100%;
  background-color: white;
}

.updatemodal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  width: 80%;
  font-family: "Open Sans";
  font-weight: bold;
}