// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.index {
    position: relative;
    max-height: 100vh;
}

.index main {
    width: 100%;
    height: 100%;
}

.index main svg {
    width: 100%;
    height: 100%;
}

.index-mobile-svg {
    display: none;
}

/* svg animations */

#left-path {
    opacity: 0;
    animation: path-opacity 1s forwards;
    animation-delay: 0.25s;
}

@keyframes path-opacity {
    from {
        opacity: 0;
        transform: translateX(-10rem);
    }

    to {
        opacity: 1;
        transform: translateX(0rem);
    }
}

#right-path {
    opacity: 0;
    animation: path-opacity-right 1s forwards;
    animation-delay: 0.25s;
}

@keyframes path-opacity-right {
    from {
        opacity: 0;
        transform: translateX(10rem);
    }

    to {
        opacity: 1;
        transform: translateX(0rem);
    }
}

#left-card {
    opacity: 0;
    animation: card-opacity 1s forwards;
    animation-delay: 0.45s;
}

#card {
    opacity: 0;
    animation: card-opacity 1s forwards;
    animation-delay: 0.75s;
}

#right-card {
    opacity: 0;
    animation: card-opacity 1s forwards;
    animation-delay: 1s;
}

@keyframes card-opacity {
    from {
        opacity: 0;
        transform: rotate(10deg);
    }

    to {
        opacity: 1;
    }
}

#rect-path {
    opacity: 0;
    animation: rect-opacity 1s forwards;
    animation-delay: 1s;
}

@keyframes rect-opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#circ-path {
    opacity: 0;
    animation: circ-opacity 1s forwards;
    animation-delay: 1.5s;
}

@keyframes circ-opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@media(max-width: 500px) {
    .index-pc-svg {
        display: none;
    }

    .index-mobile-svg {
        display: initial;
    }
}
