* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.custom-link,
.custom-link:hover {
  text-decoration: none;
  color: black;
  margin: auto;
}

.products {
  // max-width: 65rem;
  max-width: 1600px;
  // height: calc(100vh - 66px);
  padding: 1rem;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: flex-start;

  // overflow: auto;
}

.items {
  border: 0.1rem solid #c5c8ca;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 20rem;
  width: 17.5rem;
  padding: 1rem;
  margin: 1rem;
}

.itempic {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.item_name {
  margin-top: 0.5rem;
}

//----------- image-stack -----------
.image-stack {
  width: auto;
  padding: 0;
}

.image-stack::after {
  content: "";
  display: table;
  clear: both;
}

.image-stack__item--top {
  float: left;
  width: 66%;
  margin-right: -100%;
  padding-top: 15%; // arbitrary
  position: relative;
  z-index: 1;
}

.image-stack__item--bottom {
  float: right;
  width: 75%;
}
