* {
  margin: 0;
  padding: 0;
}

.products {
  max-width: 63rem;
  height: auto;
  padding: 1rem;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: flex-start;
}

.items {
  border: 0.1rem solid #c5c8ca;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 20rem;
  width: 17.5rem;
  padding: 1rem;
  margin: 1rem;
}

.itempic {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.item_name {
  margin-top: 0.5rem;
}

.post_item, .down {
  margin-top: 1rem;
}
