body {
  overflow: hidden !important;
}
.card-title {
  position: absolute;
  width: 331px;
  height: 121px;
  left: -180%;
  top: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.line {
  position: absolute;
  width: 285px;
  height: 4px;
  left: -101% !important;
  top: 210px;

  background: #f46221;
}
.card-body {
  position: absolute;
  left: -10%;
  top: 30px;
}

.cd-port {
  position: absolute !important;
  left: -10% !important;
  top: 300px !important;
  text-align: center;
  font-size: 20px;
}
.card-subtitle {
  font-size: 15px;
}

.rectangle {
  position: absolute;
  width: 1038px;
  height: 900px;
  left: 402px;
  top: 0px;
  z-index: -100;

  //   background: #f46221;
  background: radial-gradient(
    circle,
    rgba(253, 193, 8, 1) 18%,
    rgba(249, 131, 18, 1) 84%,
    rgba(244, 98, 33, 1) 97%
  ) !important;
}

.os-text {
  position: absolute;
  width: 180px;
  height: 37px;
  left: -9px;
  top: 120px;
  box-shadow: 5px 5px 5px 0px rgba(16, 16, 16, 0.75) !important;
  background: #f98312;
  border-radius: 5px;
}
.os-text h2 {
  position: absolute;
  //   width: 174px;
  //   height: 41px;
  left: 25px;
  top: 5px;

  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

// .category {
//   position: absolute;
//   width: 957px;
//   height: 43px;
//   left: 428px;
//   top: 223px;

//   font-weight: bold;
//   font-size: 20px;
//   line-height: 23px;
//   display: flex;
//   align-items: center;
//   text-align: center;
//   color: #ffffff;
// }

.company {
  position: absolute;
  width: 123px;
  height: 41px;
  left: 30px;
  top: 210px;

  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.quantity {
  position: absolute;
  width: 123px;
  height: 41px;
  left: 280px;
  top: 210px;

  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.price {
  position: absolute;
  width: 123px;
  height: 41px;
  left: 450px;
  top: 210px;

  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.line1 {
  position: absolute;
  width: 37px;
  height: 254px;
  left: 103px;
  top: 645px;

  background: #f98312;
}
.line2 {
  position: absolute;
  width: 352px;
  height: 41px;
  left: 50px;
  top: 810px;

  background: #f98312;
}
.line3 {
  position: absolute;
  width: 243px;
  height: 41px;
  left: 159px;
  top: 750px;

  background: #f98312;
}

.line4 {
  position: absolute;
  width: 4px;
  height: 600px;
  right: 40% !important;
  top: 210px;

  background: #f4602189;
}
