.products_items {
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item {
  border: 0.1rem solid #c5c8ca;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 40rem;
  padding: 1rem;
  margin: 0 0.5rem;
}

.itempic {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.item_name {
  margin-top: 1rem;
  font-weight: bold;
}

.item_description {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.comment {
  margin-top: 1rem;
  background-color: #d9dee0;
  padding: 0.5rem;
  height: 41px;
  min-width: 38rem;
  resize: none;
  overflow: hidden;
}

#comment_user {
  min-height: 1rem;
}

.user_comment {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.comment_section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #d9dee0;
  margin: 1rem 0rem;
}

.commenter_name {
  font-size: 1.2rem;
  font-weight: 600;
}

.commenter_description {
  margin-top: 0.5rem;
  font-size: 1rem;
}
