.login-bg {
  background: radial-gradient(
    circle,
    rgba(253, 193, 8, 1) 20%,
    rgba(249, 131, 18, 1) 62%,
    rgba(244, 98, 33, 1) 90%
  ) !important;
}

.card {
  position: absolute;
  margin-top: 5% !important;
  left: 25%;
  padding-top: 6%;
  padding-bottom: 5% !important;
  width: 500px;
  height: 579px;
  background-color: rgba(255, 255, 255, 0.214) !important;
  border: none !important;
  border-radius: 10px !important;
  box-shadow: 10px 10px 5px 0px rgba(46, 46, 46, 0.75) !important;
}
.inner-card {
  margin-left: 30%;
  margin-bottom: 20px;
}

.login-text {
  font-size: 20px;
  margin-left: 65px;
  margin-bottom: 20px;
  margin-top: -20px;
}

.name-logo {
  margin-left: -90px;
  margin-top: -30px;
}

.form-group {
  margin-bottom: 10px !important;
}
.form-control {
  margin-left: -50px !important;
  width: 317px !important;
  height: 40px !important;
  border-radius: 7px !important;
}
.form-text {
  margin-left: -50px !important;
  margin-bottom: -20px !important;
  color: black !important;
}
.form-text-rm {
  position: absolute;
  left: 24% !important;
  top: 53.5% !important;
  color: black !important;
}
.forgetpass-text {
  position: absolute;
  top: 440px !important;
  left: 170px !important;
  font-size: 12px !important;
}

.lg-btn {
  position: absolute;
  width: 315px !important;
  height: 34px;
  left: 100px;
  top: 335px;
  font-size: 15px !important;
  border-radius: 7px !important;
}

.lg-su-btn {
  position: absolute;
  width: 315px !important;
  height: 34px;
  left: 100px;
  top: 380px;
  font-size: 15px !important;
  border-radius: 7px !important;
}
