.most_active{
    display: flex;    
    flex-direction: column;
    align-items: center;
}

.table_title{
    width: 80%;
    text-align: center;
    border: none;
    color: #228B22;
}

.table_most_active{
    width: 80%;
    background: white !important;
    background-color: white !important;
}
