@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$color_darkblue: #222C3C;
$color_mustard: #D8B26E;
$color_brown: #B69B7D;
$color_cream: #E2E0D5;
$color_offwhite: #EDF2F4;
$mainFont: 'Roboto Condensed', sans-serif;
$subFont: 'Roboto', sans-serif;;

$mobileS: 320px;
$mobileM: 375px;
$mobileL: 430px;
$tablet: 770px;
$laptop: 1024px;

  // NAVIGATIONS

//   .navbar-brand {
//     color: $color_mustard !important;
//     font: 150% $mainFont!important;           
//   }

// .navbar{
//   background-color: $color_darkblue !important;
// }

// .nav-item, .nav-link {
//   a {
//     color: $color_mustard !important;
//     font: 100% $mainFont !important;
//     cursor: pointer;
//     text-decoration: none;
//   }
// }

// #navbarNav {
// justify-content: flex-end !important;
// }