.navbar-brand {
  //   position: absolute;
  //   width: 208px;
  //   height: 52px;
  //   left: 90px;
  //   top: 47px;
  margin-bottom: -100px;
  margin-left: 35px;
  margin-top: -10px;
}
.nav-link {
  color: #000000 !important;
  font-weight: 600;
  position: absolute;
  height: 28px;
  left: 1150px;
  top: 10px;
  color: #ffffff !important;

  background-color: #f98212c4;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 0px rgba(16, 16, 16, 0.75) !important;
  display: flex !important;
  align-items: center !important;
}

.nav-link-lg {
  color: #000000 !important;
  font-weight: 600;
  position: absolute;
  height: 28px;
  left: 1190px;
  top: 30px;
  text-decoration: none;
  color: #ffffff !important;

  background-color: #f98212c4;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 0px rgba(16, 16, 16, 0.75) !important;
  display: flex !important;
  align-items: center !important;
}
.nav-link-su {
  color: #000000 !important;
  font-weight: 600;
  position: absolute;
  height: 28px;
  left: 1335px;
  top: 30px;
  text-decoration: none;
  color: #ffffff !important;
  background-color: #f98212c4;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 0px rgba(16, 16, 16, 0.75) !important;
  display: flex !important;
  align-items: center !important;
}
.nav-link-so {
  color: #000000 !important;
  font-weight: 600;
  position: absolute;
  height: 28px;
  left: 1350px;
  top: 30px;
  text-decoration: none;
  color: #ffffff !important;
  background-color: #f98212c4;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 0px rgba(16, 16, 16, 0.75) !important;
  text-indent: 4px !important;
  display: flex !important;
  align-items: center !important;
}
