// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.order-item-container{
    display:grid;
    grid-template-columns: 100px 200px 200px 1fr 200px;
    place-items:center;
    padding: 2px;
    border-bottom: 1px solid rgba(255,255,255, 0.25);
    color: #cccccc;
}

.orders-index-data.header{
    text-align: center;
}

.order-form-container{
    width: 100%;
    padding: 10px 10px 80px;
    height: 240px;
    .order-balance-container{
        color: #aaaaaa;
        display:flex;
        flex-flow: row;
        justify-content: space-between;
        margin:0 10px;
    }
}

.order-label {
    color: rgb(19, 185, 157);
}

.order-field {
    background-color: rgb(39, 46, 64);
    width: 100%;
    border-radius: 5px;
    outline:none;
    border: none;
    color: white;
    height: 2em;
    font-size: 1.2em;
    padding: 10px;
    text-align: right;
}
.order-button-container{
    display:grid;
    place-items:center;
    margin: 20px 0;
}
.order-button{
    width: 100%;
    height: 30px;
    font-size: 1em;
    color:white;
    border-radius: 5px;
    outline:none;
    border: none;
    margin: auto;
    &.buy{
        background: green;
    }
    &.sell{
        background: red;
    }
    &:hover{
        color: rgb(19, 185, 157);
    }
}

.buy-button

.sell-button:hover{
    color: rgb(19, 185, 157);
}

