// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.main-container{
    width:1160px;
    margin:auto;
    display:grid;
    grid-template-columns: 1fr 1fr 320px;
    grid-template-areas:
        "welcome welcome trending"
}

.title-container{
   justify-content: center;
   justify-self: center;
}

.trending-container{
    grid-area: trending;
    display: grid;
    color: rgb(19, 185, 157);
    border: 1px solid black;
    padding: 0 10px;
}

.img-container{
    grid-area: welcome;
    .img-homepage {
        height: 100%;
        width: 100%;
    }
}

.trending-header{
    display: grid;
    grid-template-columns: repeat(2, 100px) 50px;
    color: rgb(19, 185, 157);
}

h3 {
    color: rgb(19, 185, 157);

}

.trending-coin-item{
    color: black;
    display: grid;
    grid-template-columns: repeat(2, 100px) 50px;
}

.trending-title{
    color:black;
}
.sign-in-containers{
    display: flex;
    justify-content: space-evenly;
}
.sign-in-btn {
        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        box-sizing: border-box;
        color: rgb(255, 255, 255);
        font-weight: normal;
        text-align: center;
        background: rgb(36, 174, 143);
        border-radius: 0.25rem;
        height: 3rem;
        padding: 0px 1.5rem;
        margin-top: 1.875rem;
    a{
        text-decoration: none;
        justify-self: center;
        text-transform: uppercase;

    }
}

.sign-up-btn {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-weight: normal;
    text-align: center;
    background: rgb(36, 174, 143);
    border-radius: 0.25rem;
    height: 3rem;
    padding: 0px 2.5rem;
    margin-top: 1.875rem;
    a{
        text-decoration: none;
        text-transform: uppercase;

    }
}

.sign-out-btn{
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-weight: normal;
    text-align: center;
    background: rgb(36, 174, 143);
    border-radius: 0.25rem;
    height: 3rem;
    padding: 0px 2.5rem;
    margin-top: 1.875rem;
    a{
        text-decoration: none;
        text-transform: uppercase;

    }
}
