// Place all the styles related to the portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.portfolio_table{
    display:flex;
    flex-direction: row;
}

.portfolio_detail{
    width: 50vmin
}