.index_portfolio{
    margin-top: 1rem;
}

.portfolio_available_cash{
    display: flex;
    align-items: center;
    width: 50%;
}

.portfolio_available_cash label{
    font-size: 12px;
    color: gray;
    margin-right: .5rem;
}
