.buy_order_grid{
    height: 85vh;
    overflow-y: scroll;
}

.main_charts{
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    height: 85vh;
    overflow-y: scroll;
}

.main_charts_graph{
    width: 500px;
    height: 250px;
}
