// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.notice {
    font-size: 1rem;
    color: rgba(28, 129, 28, 0.748);
    font-weight: 600;
    background-color: transparent;
    z-index: 1;
}

.alert {
    font-size: 1rem;
    color: rgb(207, 15, 15);
    font-weight: 600;
    background-color: transparent;
    z-index: 1;
}

#error_explanation {
    font-size: 1rem;
    color: rgb(207, 15, 15);
    font-weight: 600;
    background-color: transparent;
    z-index: 1;
}

#error_explanation h2:nth-child(1) {
    display: none;
}

.new-session,
.register-session {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.new-session main,
.register-session main {
    width: 100%;
    height: 100%;
}

.register-session-svg {
    position: absolute;
    left: 0;
    width: 150px;
    height: 210px;
}

.session-svg {
    position: absolute;
    right: 0;
    width: 200px;
    height: 210px;
}

.new-session-h1,
.registration-session-h1 {
    font-size: 4rem;
    font-weight: 600;
    color: #171717;
}

.new-session-span,
.register-session-span {
    font-size: 1.75rem;
    color: #171717;
}

// .new-session-form {
//     position: absolute;
// }

.registration-form {
    max-width: 100%;
    gap: 5%;
    margin: 0 auto;
}

.reg-line {
    color: #000;
    font-weight: 600;
    font-size: 2rem;
}

.field input {
    width: 17rem;
    height: 3rem;
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: 600;
    // border-radius: 5px;
}

.sessions-input {
    width: 16.5rem;
    // height: 3rem;
}

.sessions-input input {
    width: 100% !important;
}

.actions .login-btn {
    cursor: pointer;
    font-size: 1.25rem;
    padding: 1rem 2.5rem !important;
    // width: 100%;
    border: none;
    outline: none;
    background-color: #00E99E;
    border-radius: 5px;
    color: #000 !important;
    font-weight: 600 !important;
}

.actions .register-btn {
    cursor: pointer;
    font-size: 1.25rem;
    padding: 1rem 7.25rem;
    border: none;
    outline: none;
    background-color: #00E99E;
    border-radius: 5px;
    color: #000 !important;
    font-weight: 600 !important;
}

.actions .login-btn:hover,
.actions .register-btn:hover {
    background-color: #08cf90;
}

.forgot-btn,
.to-login-btn {
    color: #000;
    font-weight: 600;
    font-size: 1.5rem;
    width: 50%;
    margin: 0 auto;
}

.to-login-btn {
    margin-bottom: 0.75rem;
}

/* svg animations */

.register-session-svg path:nth-child(1),
.session-svg path:nth-child(1) {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: line-animation 2s ease forwards;
}

.register-session-svg path:nth-child(2),
.session-svg path:nth-child(2) {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: line-animation 2s ease forwards;
}

.register-session-svg path:nth-child(3),
.session-svg path:nth-child(3) {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: line-animation 2s ease forwards;
}

@keyframes line-animation {
    to {
        stroke-dashoffset: 0;
    }
}

/* Media Queries */

@media screen and (max-width: 1400px) {
    .new-session-h1,
    .registration-session-h1 {
        font-size: 2rem;
    }

    .new-session-span,
    .register-session-span {
        font-size: 1rem;
    }

    .field input {
        width: 100%;
        height: 1rem;
        font-size: 0.75rem;
        border: 1px solid #181717;
        outline: none;
    }

    #user_email,
    #user_password {
        width: 17rem;
    }

    .admin-field input {
        width: 75%;
    }

    .admin-field #user_email,
    .admin-field #user_password {
        width: 75%;
    }

    .actions .register-btn {
        font-size: 1.25rem;
        padding: 1rem 3rem;    
    }

    .actions .login-btn {
        font-size: 1.25rem;
    }

    .forgot-btn, .to-login-btn {
        font-size: 1.25rem;
    }

    .footer {
        margin-top: 0rem;
        gap: 50%;
    }

    .footer span {
        font-size: 1rem;
    }

    .session-svg,
    .register-session-svg {
        width: 100px;
        height: 150px;
    }
}

@media screen and (max-width: 1024px){
    .field input {
        height: 3rem;
    }
}

@media screen and (max-width: 768px) {
    .registration-form {
        flex-direction: column;
    }

    #user_email,
    #user_password {
        width: 12rem;
        height: 1rem;
        font-size: 0.75rem;
        margin: 0 auto;
        left: 10rem;
        // transform: translateX(3.5rem);
    }

    .admin-field input {
        width: 75% !important;
    }

    .admin-field #user_email,
    .admin-field #user_password {
        width: 75%;
    }

    .new-session-h1,
    .registration-session-h1 {
        font-size: 1rem;
    }

    .new-session-span,
    .register-session-span {
        font-size: 0.75rem;
    }

    .field input {
        width: 100%;
        height: 1rem;
        font-size: 0.75rem;
    }

    .actions .register-btn {
        font-size: 1rem;
        padding: 1rem 3rem;    
    }

    .actions .login-btn {
        font-size: 1rem;
    }

    .forgot-btn, .to-login-btn {
        font-size: 0.75rem;
    }

    .footer {
        margin-top: 0rem;
        gap: 5%;
    }

    .footer span {
        font-size: 0.5rem;
    }

    .session-svg,
    .register-session-svg {
        width: 50px;
        height: 150px;
    }
}

@media screen and (max-width: 375px) {
    .new-session-span, .register-session-span {
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 320px) {
    .new-session-span, .register-session-span {
        font-size: 0.69rem;
    }
}
