// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.scale-up-ver-top {
    -webkit-animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-ver-top {
    0% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
}

@keyframes scale-up-ver-top {
    0% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
}

.new-session,
.register-session {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.new-session main,
.register-session main {
    width: 100%;
    height: 100%;
}

.register-session-svg {
    position: absolute;
    left: 0;
    width: 150px;
    height: 210px;
}

.session-svg {
    position: absolute;
    right: 0;
    width: 200px;
    height: 210px;
}

.new-session-h1,
.registration-session-h1 {
    font-size: 4rem;
    font-weight: 600;
    color: #171717;
}

.new-session-span,
.register-session-span {
    font-size: 1.75rem;
    color: #171717;
}

// .new-session-form {
//     position: absolute;
// }

.registration-form {
    max-width: 100%;
    gap: 10%;
    margin: 0 auto;
}

.reg-line {
    color: #000;
    font-weight: 600;
    font-size: 2rem;
}

.field input {
    width: 19rem;
    height: 3rem;
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: 600;
    // border-radius: 5px;
}

.actions .login-btn {
    cursor: pointer;
    font-size: 1.25rem;
    padding: 1rem 2.5rem !important;
    // width: 100%;
    border: none;
    outline: none;
    background-color: #00E99E;
    border-radius: 5px;
    color: #000 !important;
    font-weight: 600 !important;
}

.actions .register-btn {
    cursor: pointer;
    font-size: 1.25rem;
    padding: 1rem 7.25rem;
    border: none;
    outline: none;
    background-color: #00E99E;
    border-radius: 5px;
    color: #000 !important;
    font-weight: 600 !important;
}

.actions .login-btn:hover,
.actions .register-btn:hover {
    background-color: #08cf90;
}

.forgot-btn,
.to-login-btn {
    color: #000;
    font-weight: 600;
    font-size: 1.5rem;
    width: 50%;
    margin: 0 auto;
}

.to-login-btn {
    margin-bottom: 0.75rem;
}

/* svg animations */

.register-session-svg path:nth-child(1),
.session-svg path:nth-child(1) {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: line-animation 2s ease forwards;
}

.register-session-svg path:nth-child(2),
.session-svg path:nth-child(2) {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: line-animation 2s ease forwards;
}

.register-session-svg path:nth-child(3),
.session-svg path:nth-child(3) {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: line-animation 2s ease forwards;
}

@keyframes line-animation {
    to {
        stroke-dashoffset: 0;
    }
}
