.stock-view-container-first, .stock-view-show-container{
    width: 100%;
    padding: 15px;
}

.get-stocks-view-container{
    padding-top: 12px;
    padding-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    // grid-template-rows: auto
    grid-gap: 10px;
}

.stocks-view-card{
    background-color: #eeeeee;
    border-radius: 4px;
    border: 3px solid #bebebe;
    padding: 10px;
    min-height: 160px;
}

.stocks-view-card:hover{
    border: 3px solid #111111 !important;
}

.get-stocks-view-container a{
    color: #111111;
    text-decoration: none;
}

.get-stocks-view-container a:visited{
    color: #111111;
    text-decoration: none;
}

.get-stock-show-container{
    display: grid;
    grid-gap: 10px;
    margin-bottom: 20px;
    margin-top: 12px;
}

.get-stock-show-item{
    background-color: #eeeeee;
    border-radius: 4px;
    border: 3px solid #bebebe;
    padding: 10px;
}

.get-stock-show-item:hover{
    box-shadow: 0px 3px 4px 0px rgba(187,187,187,0.71);
    -webkit-box-shadow: 0px 3px 4px 0px rgba(187,187,187,0.71);
    -moz-box-shadow: 0px 3px 4px 0px rgba(187,187,187,0.71);
}

.stock-show-item-high-low-container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
}

#latest-price-show{
    font-size: 2rem;
}

#stock-count-buying{
    padding: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.my-stock-porfolio-container, .my-trans-container{
    padding: 10px 15px;
}

.my-stock-porfolio-container h1, .my-trans-container h1{
    margin-bottom: 10px;
}

.stock-porfolio-item-container, .my-trans-item-container{
    padding: 10px;
    background-color: #eeeeee;
    margin-bottom: 5px;
    border-radius: 3px;
    border: 2px solid #bebebe;
}

.my-stock-item-container{
    padding-left: 5px;
}
