.get-stocks-view-container{
    padding-top: 12px;
    padding-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    // grid-template-rows: auto
    grid-gap: 10px;
}

.stocks-view-card{
    background-color: #eeeeee;
    border-radius: 4px;
    border: 3px solid #bebebe;
    padding: 10px;
}

.stocks-view-card:hover{
    border: 3px solid #111111 !important;
}