// Place all the styles related to the tours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#img_prev {
    max-width: 500px;
    height: auto;
    margin: auto;
    img{
        width: 100%;
        height: 100%;
    }
}
.tour_img{
    height: 100px;
    width: auto;
    &.active{
        border: solid 2px blue;
    }
}