// Place all the styles related to the Trades controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.trades-container{
    width:1160px;
    margin:auto;
    display:grid;
    grid-template-columns: 1fr 1fr 320px;
    grid-template-areas:
        "widget widget index"
        "buy sell ."
        "orders orders orders"
}
.tradingview-widget-container{
    grid-area: widget;
}
.trades-list-item{
    display:grid;
    grid-template-columns: repeat(2, 100px) 100px 100px;
    :hover{
        background-color: gray;
    }
}

.coin-link{
    text-decoration: none;
}

.trades-index-container{
    width: 320px;
    height: 520px;
    border: 1px solid black;
    grid-area: index;
}
.trades-index-searchbar{
    font-size: 0.8em;
    color: #eeeeee;
    background-color: #555555;
    display:flex;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    align-items: center;
    input{
        width: 100%;
        color:inherit;
        background-color:inherit;
        font-size:1em;
        outline:none;
        border: none;
        margin-left:5px;
    }
}
.trades-index-items{
    overflow-y:scroll;
    height: 440px;
}
.coin-item-header, .coin-item{
    color: black;
    padding: 0 10px;
    width: 100%;
    display:grid;
    grid-template-columns: repeat(2, 100px) 50px;
    font-size: 0.8em;
}
.coin-item{
    &:hover{
        background-color: #aaaaaa;
    }
    
    .coin-item-price, .coin-item-change{
        &.green{
            color: green;
        }
        &.red{
            color: red;
        }
        &.plain{
            color:inherit;
        }
    }
    .coin-item-price{
        justify-self: flex-start;
    }
    .coin-item-change{
        justify-self: flex-end;
    }
}

.trades-orders-container{
    grid-area: orders;
    margin-bottom: 100px;
}

.trades-orders-index{
    height: 200px;
    overflow-y: scroll;
    
}