// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container-sign-up{
    color: #111111;
    max-width: 700px;
    margin: 0 auto;
    padding: 10px 15px;
}

.container-sign-up h2{
    font-size: 2em;
}

.container-sign-up input, input[id="user_name"]{
    width: 100%;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 3px;
    border: 3px solid #111111;
}

.container-sign-up input[type="submit"]{
    padding: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    margin-top: 5px;
    color: #ffffff;
    background-color: #111111;
    border: none;
    width: 50%;
}
