<h1><%= params[:transaction_type]%> </h1>
<h2>Name: <%= Stock.find(params[:stock_id]).name%> </h2>
<h2>Code: <%= Stock.find(params[:stock_id]).code%> </h2>
<h2>Price: <%= number_to_currency Stock.find(params[:stock_id]).price%> </h2>