// Place all the styles related to the stocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.search-area{
  padding-top: 50px;
}

.no-right-padding{
  padding-right: 0 !important;
}

.no-left-padding{
  padding-left: 0 !important;
}

.results-block{
  display: inline-block !important;
}

.alert-danger{
  display: inline-block;
}
