-@coins.each do |coin|
  -if coin.target == "USDT"
    .coinpair
      %p.name=coin.base
      %p.target=coin.target
      -# %p.price=coin["last"]
      =link_to "#{coin.base}#{coin.target}", trade_path(coin.base)

-unless current_user
  Please sign in to make trades
-else
  Make link to order