<div class="container flash-position">
  <% flash.each do |name,msg| %>
    <% if name=='alert'%>
      <div class="alert alert-danger alert-dismissible fade show">
        <%= msg %>
        <button type="button" class="btn-close flash-close" data-dismiss="alert" aria-label="Close"></button>
      </div>
    <%else%>
      <div class="alert alert-success alert-dismissible fade show">
        <%= msg %>
        <button type="button" class="btn-close flash-close" data-dismiss="alert" aria-label="Close"></button>
      </div>    
    <% end %>
  <%end%>
</div>

      
