<nav class="navbar navbar-expand-md navbar-light bg-light">
  <%= link_to image_tag("logo-light.png"), root_path, class: "nav-logo" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <%# Dummy class for space-between %>
    </ul>
    <div class="nav-user-links">
      <%= link_to 'Login', new_user_session_path, class: "link-nav-dark" %>
      <%= link_to 'Try for free', new_user_session_path, class: "link-nav-btn-primary-dark" %>
    </div>
  </div>
</nav>
