.coins-container
  = link_to "Back", admins_path
  %br/
  %br/
  =link_to "Add new coin", new_coin_path
  %br/
  %br/
  .coin-container.header
    %p Coin pair
    %p Price
    %p Actions
  -@coins.each do |coin|
    .coin-container
      %p="#{coin.base}/#{coin.target}"
      %p=coin.last_price
      %p=link_to "Edit", edit_coin_path(coin.id)
      %p=link_to "Destroy", coin_path(coin.id), method: :destroy, data: {confirm: "Are you sure?"}
